.app {
    display: contents;

    .contents {
        height: 100vh;
        overflow: hidden;
        display: grid;
        grid-template-columns: auto var(--sizes-navigatorWidth) 1fr var(--sizes-sidebarWidth);
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "header header header header"
            "sidebar navigator main inspector"
            "footer footer footer footer";

        nav.header {
            grid-area: header;
            position: relative;
            height: 48px;

            .header_contents {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                flex: 0;

                &:first-child {
                    justify-content: flex-start;
                    flex: 1;
                }

                &:last-child {
                    justify-content: flex-end;
                    flex: 1;
                }

                button {
                    background-color: transparent;
                    border: none;
                    color: #fff;
                    padding: 0 4px;
                    width: 48px;
                    height: 48px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    i {
                        font-size: 18px;
                    }
                }
            }
        }

        aside.sidebar {
            grid-area: sidebar;
            display: flex;

            .sidebar_nav {
                display: flex;
                justify-content: space-between;
                flex-direction: column;

                width: 48px;
                background-color: #fff;
                border-right: 1px solid var(--color-gray-200);

                button {
                    width: 48px;
                    height: 48px;
                    box-shadow: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: transparent;
                    border: none;
                    padding: 0;
                    color: oklch(.967 .001 286.375);

                    i {
                        font-size: 20px;
                        color: #171717;
                    }
                }

            }

            .sidebar_pages {
                width: var(--sizes-sidebarWidth);

                .element {
                    padding-left: 16px;
                }

            }

            .sidebar_elements {
                width: var(--sizes-sidebarWidth);

                .element {
                    padding-left: 16px;
                    position: relative;

                    /*&::before {
                        content: "";
                        position: absolute;
                        border-left: 1px solid #f00;
                        display: block;
                        height: calc(100% - 48px);
                        left: 0px;
                        width: 8px;
                        top: calc(24px);
                    }

                    .elementItem {
                        position: relative;
                        &::before {
                            content: "a";
                            position: absolute;
                            border-top: 1px solid #f00;
                        }
                    }*/
                }
            }

            .sidebar_components {
                background: var(--color-gray-200);
                display: flex;
                flex-direction: column;

                button {
                    text-align: start;
                    border-radius: 0;
                }

                ;
            }
        }

        aside.inspector {
            grid-area: inspector;
            border-left: 1px solid #eee;

            .panel {
                @apply flex flex-col;
            }
        }

        main {
            grid-area: main;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            position: relative;

            .bg {
                padding: 0;
                flex-grow: 1;
                position: relative;
                background-color: oklch(.967 .001 286.375);

                .workspace {
                    width: 679px;
                    height: 100%;

                    padding: 0;

                    left: 50%;
                    transform: scale(1) translateX(-50%);
                    background: #ffffff;
                    position: absolute;
                    transform-origin: 0px 0px;
                    will-change: transform;

                    .workspace_overlay {
                        position: absolute;
                        transform-origin: 0px 0px;
                        will-change: transform;
                    }
                }
            }
        }

        footer {
            isolation: isolate;
            grid-area: footer;
            height: 40px;
            background: oklch(.274 .006 286.033);
        }
    }
}