.app {
    font-size: var(--text-sm);

    display: contents;

    .contents {
        height: 100vh;
        overflow: hidden;
        display: grid;

        grid-template-rows: auto 1fr auto;

        grid-template-columns: auto 1fr var(--sizes-inspectorWidth);
        grid-template-areas:
            "header header header"
            "sidebar main inspector"
            "footer footer footer";

        grid-template-columns: auto 1fr var(--sizes-inspectorWidth);
        grid-template-areas:
            "header header header"
            "sidebar main inspector"
            "footer footer footer";



        nav.header {
            grid-area: header;
            @apply bg-[var(--color-gray-950)] text-[var(--color-neutral-100)] flex flex-row justify-between items-center;
            position: relative;
            height: calc(var(--spacing) * 12);

            .header_contents {

                /*button {
                    font-size: var(--text-sm);
                    @apply bg-[var(--color-gray-500)] rounded-[var(--radius-md)] p-[calc(var(--spacing)*1.375)];

                }*/
                .aria-ToggleButton {
                    padding: var(--spacing) var(--spacing-sm);
                }

                @apply flex items-center justify-center gap-[var(--spacing)];
                padding: 0 calc(var(--spacing) * 1.375);

                &.screen {
                    .sizeInfo {
                        width: 64px;
                        text-align: right;
                    }

                    /*font-size: var(--text-sm);
                    @apply flex rounded-[var(--radius-md)] bg-[var(--color-gray-500)] gap-[var(--spacing)];*/
                }

                flex: 0;

                &:first-child {
                    justify-content: flex-start;
                    flex: 1;

                    button {
                        padding: calc(var(--spacing) * 2);
                        background-color: transparent;
                    }
                }

                &:last-child {
                    justify-content: flex-end;
                    flex: 1;

                    button {
                        @apply bg-[var(--color-white)] rounded-[var(--radius-md)] p-[calc(var(--spacing)*1.375)];
                    }

                    .publish {
                        width: 96px;
                        background-color: var(--color-sky-500);
                    }
                }

            }
        }





        main {
            grid-area: main;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            position: relative;
            z-index: 1;

            .bg {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-grow: 1;
                position: relative;
                background-color: var(--color-slate-50);

                .workspace {
                    padding: 0;
                    background: #ffffff;
                    border-width: 0px solid;
                    border-color: var(--color-gray-200);
                    transform-origin: center;
                    will-change: transform;

                    .workspace_overlay {
                        position: absolute;
                        transform-origin: center;
                        will-change: transform;
                    }

                    &::before {
                        content: " " attr(max-width) " ";
                        display: block;
                        position: absolute;
                        rotate: -90deg;
                        top: calc(50% + 52px);
                        left: -2.8vh;
                        font-size: var(--text-xs);
                        font-weight: var(--font-weight-light);
                        background-color: var(--color-sky-500);
                        color: var(--color-white);
                        padding: 0 var(--spacing);
                        border-radius: var(--radius-xs);
                    }

                    &::after {
                        content: " @media (max-width: " attr(max-width) "px)";
                        display: block;
                        position: absolute;
                        rotate: -90deg;
                        top: calc(50% - 52px);
                        left: -8.6vh;
                        font-size: var(--text-xs);
                        font-weight: var(--font-weight-light);
                        color: var(--color-gray-900);
                        padding: 0 var(--spacing);
                    }

                }
            }
        }

        aside {
            z-index: 2;
            background-color: var(--color-white);
            border: 1px solid var(--color-gray-300);

            &.sidebar {
                grid-area: sidebar;
                height: 100%;
                display: flex;
                position: relative;
                overflow: auto;
            }

            &.inspector {
                grid-area: inspector;
                height: 100%;
                display: flex;
                position: relative;
                overflow: auto;
            }
        }

        footer {
            isolation: isolate;
            grid-area: footer;
            height: 40px;
            @apply bg-[var(--color-gray-950)] text-[var(--color-neutral-100)] flex flex-row justify-between items-center;
        }
    }
}