@import "tailwindcss";

.app {
    display: contents;

    .contents {
        height: 100vh;
        overflow: hidden;
        display: grid;

        grid-template-rows: auto 1fr auto;

        grid-template-columns: auto 1fr var(--sizes-inspectorWidth);
        grid-template-areas:
            "header header header"
            "sidebar main inspector"
            "footer footer footer";

        grid-template-columns: auto var(--sizes-sidebarWidth) 1fr var(--sizes-sidebarWidth);
        grid-template-areas:
            "header header header header"
            "sidebar navigator main inspector"
            "footer footer footer footer";



        nav.header {
            grid-area: header;
            @apply bg-gray-600 text-neutral-100 flex flex-row justify-between items-center;
            position: relative;
            height: 48px;

            .header_contents {
                @apply flex items-center justify-center p-[8px] gap-[4px];

                &.screen {
                    @apply flex rounded-lg bg-gray-500 p-[2px] gap-1;
                }

                flex: 0;

                &:first-child {
                    justify-content: flex-start;
                    flex: 1;

                    button {}
                }

                &:last-child {
                    justify-content: flex-end;
                    flex: 1;

                    button {
                        @apply bg-gray-500;
                    }

                    .publish {
                        width: 96px;
                    }
                }

                button {
                    @apply min-w-[32px] min-h-[32px] size-auto flex justify-center items-center p-0 bg-transparent border-none;

                }

            }
        }

        aside.sidebar {
            grid-area: sidebar;
            display: flex;
            position: relative;

            .sidebar_nav {
                display: flex;
                justify-content: space-between;
                flex-direction: column;

                width: 48px;
                background-color: #fff;
                border-right: 1px solid var(--color-gray-200);

                .sidebar_group {
                    @apply p-[8px] gap-[16px] flex flex-col items-center justify-center;

                    button {
                        @apply size-[32px] flex justify-center items-center p-0 bg-transparent border-none;

                    }

                }
            }

            .sidebar_content {
                flex-grow: 1;
                position: absolute;
                top: 0px;
                left: 100%;
                height: 100%;
                background-color: #fff;
            }

            .sidebar_pages {
                width: var(--sizes-sidebarWidth);
            }

            .sidebar_elements {
                width: var(--sizes-sidebarWidth);
            }

            .element {
                position: relative;
            }

            .elementItemLabel {
                @apply text-sm;
            }

            .elementItemActions {
                display: flex;
                flex-direction: row;

                .iconButton {
                    @apply p-[0px] size-[24px];
                }
            }

            .elementItem {
                @apply flex justify-between items-center text-sm p-[8px] cursor-pointer;

                &.active {
                    @apply bg-sky-100;
                }
            }

            .no_element {
                @apply text-sm text-red-500 p-[16px];
            }

            .sidebar_components {
                display: flex;
                flex-direction: inherit;
                position: absolute;
                left: calc(50vw - calc(var(--sizes-sideNavWidth) * 2) + var(--sizes-sideNavWidth)*0.5);
                bottom: 100px;
                width: calc(var(--sizes-sideNavWidth) * 4);
                flex-wrap: wrap;

                button {
                    text-align: center;
                    border-radius: 0;
                    width: var(--sizes-sideNavWidth);
                    height: var(--sizes-sideNavWidth);
                }

                ;
            }
        }

        aside.inspector {
            grid-area: inspector;
            border-left: 1px solid #eee;
            position: relative;
            background-color: #fff;

            .panel {
                @apply flex flex-col;
            }
        }

        main {
            grid-area: main;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            position: relative;

            .bg {
                padding: 0;
                flex-grow: 1;
                position: relative;
                background-color: oklch(.967 .001 286.375);

                .workspace {
                    width: 679px;
                    height: 100%;

                    padding: 0;

                    left: 50%;
                    transform: scale(1) translateX(-50%);
                    background: #ffffff;
                    position: absolute;
                    transform-origin: 0px 0px;
                    will-change: transform;

                    .workspace_overlay {
                        position: absolute;
                        transform-origin: 0px 0px;
                        will-change: transform;
                    }
                }
            }
        }

        footer {
            isolation: isolate;
            grid-area: footer;
            height: 40px;
            background: oklch(.274 .006 286.033);
        }
    }
}