.app {
    display: contents;

    .contents {
        height: 100vh;
        overflow: hidden;
        display: grid;

        grid-template-rows: auto 1fr auto;

        grid-template-columns: auto 1fr var(--sizes-inspectorWidth);
        grid-template-areas:
            "header header header"
            "sidebar main inspector"
            "footer footer footer";

        grid-template-columns: auto 1fr var(--sizes-inspectorWidth);
        grid-template-areas:
            "header header header"
            "sidebar main inspector"
            "footer footer footer";



        nav.header {
            grid-area: header;
            @apply bg-[var(--color-gray-950)] text-[var(--color-neutral-100)] flex flex-row justify-between items-center;
            position: relative;
            height: calc(var(--spacing) * 12);

            .header_contents {
                button {
                    font-size: var(--text-sm);
                    @apply bg-[var(--color-gray-500)] rounded-[var(--radius-md)] p-[calc(var(--spacing)*1.375)];

                }

                @apply flex items-center justify-center gap-[var(--spacing)];
                padding: 0 calc(var(--spacing) * 1.375);

                &.screen {
                    font-size: var(--text-sm);
                    @apply flex rounded-[var(--radius-md)] bg-[var(--color-gray-500)] gap-[var(--spacing)];
                }

                flex: 0;

                &:first-child {
                    justify-content: flex-start;
                    flex: 1;

                    button {
                        padding: calc(var(--spacing) * 2);
                        background-color: transparent;
                    }
                }

                &:last-child {
                    justify-content: flex-end;
                    flex: 1;

                    .publish {
                        width: 96px;
                    }
                }

            }
        }





        main {
            grid-area: main;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            position: relative;

            .bg {
                padding: 0;
                flex-grow: 1;
                position: relative;
                background-color: var(--color-slate-50);

                .workspace {
                    width: 679px;
                    height: 100%;

                    padding: 0;

                    left: 50%;
                    transform: scale(1) translateX(-50%);
                    background: #ffffff;
                    position: absolute;
                    transform-origin: center;
                    will-change: transform;

                    .workspace_overlay {
                        position: absolute;
                        transform-origin: center;
                        will-change: transform;
                    }
                }
            }
        }

        footer {
            isolation: isolate;
            grid-area: footer;
            height: 40px;
            @apply bg-[var(--color-gray-950)] text-[var(--color-neutral-100)] flex flex-row justify-between items-center;
        }
    }
}