
main {
    div {
        border: 1px solid #f00;
        display: flex;
        flex-direction: column;
        min-height: 48px;
        padding: 8px;
    }
}
.app {
    display: contents;

    .contents {
        height: 100vh;
        overflow: hidden;
        display: grid;
        grid-template-columns: auto var(--sizes-navigatorWidth) 1fr var(--sizes-sidebarWidth);
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "header header header header"
            "sidebar navigator main inspector"
            "footer footer footer footer";

        nav.header {
            grid-area: header;
            position: relative;
            display: flex;
            background-color: oklch(0.147 0.004 49.25);
            height: 48px;
        }

        aside.sidebar {
            grid-area: sidebar;
            display: flex;

            .sidebar_nav {
                width: 48px;
                background-color: #ddd;
            }

            .sidebar_pages {
                width: var(--sizes-sidebarWidth);
                border-left: 1px solid #eee;
            }

            .sidebar_elements {
                width: var(--sizes-sidebarWidth);
                border-left: 1px solid #eee;

                .elements-node {
                    
                    >div {
                        .element {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                        }
                        div {
                            
                            padding: 4px 4px 4px 16px;
                        }
                    }
                }
            }
        }

        aside.inspector {
            grid-area: inspector;
            border-left: 1px solid #eee;
        }

        main {
            grid-area: main;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            position: relative;

            .bg {
                flex-grow: 1;
                position: relative;
                background-color: #eee;

                .workspace {
                    width: 767px;
                    height: 100%;

                    left: 50%;
                    transform: scale(1) translateX(-50%);
                    background: #ffffff;
                    position: absolute;
                    transform-origin: 0px 0px;
                    will-change: transform;
                }
            }
        }

        footer {
            isolation: isolate;
            grid-area: footer;
            height: 40px;
            background: #2d2d2d;
        }
    }
}