.theme {
    border: 1px solid #f00;
    width: calc(100vw - var(--sizes-sideNavWidth));
    background: #fff;
    height: 100%;
    overflow: auto;
}


.add-token {
    background-color: #f00;
}

.preview-container {
    background-color: var(--color-gray-50);
    padding: calc(var(--spacing) * 4);
    border-radius: var(--spacing);
    border: 1px solid var(--color-gray-200);
}

.preview-title {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-medium);
    margin-bottom: var(--spacing);
}

.preview-content {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 4);
}

.category-container {
    background-color: var(--color-white);
    padding: calc(var(--spacing) * 4);
    border-radius: var(--spacing);
    border: 1px solid var(--color-gray-200);
}

.category-title {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-medium);
    margin-bottom: var(--spacing);
}

.category-content {
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
}

/*.color-content {
    display: grid;
    grid-template-columns: repeat(8, 48px);
}*/

@layer components {

    /*.button {
        @apply text-[var(--text-sm)] px-[var(--spacing)*4] py-[var(--spacing)] rounded-[var(--radius-md)] border border-[var(--color-primary-700)] transition duration-150 ease-in-out;
        @apply text-white bg-[var(--color-primary-500)];

        &:hover {
            @apply bg-[var(--color-primary-600)];
        }

        &:active,
        [data-pressed='true'] {
            @apply bg-[var(--color-primary-700)];
        }

        &:focus-visible {
            @apply ring-2 ring-[var(--color-primary-300)] ring-offset-2;
        }

        &:disabled {
            @apply bg-gray-200 text-gray-400 cursor-not-allowed;
        }

        &[data-accent-color="red"] {
            @apply bg-red-500 border-red-700 hover:bg-red-600 active:bg-red-700 focus-visible:ring-red-300;
        }

        &[data-accent-color="amber"] {
            @apply bg-amber-500 border-amber-700 hover:bg-amber-600 active:bg-amber-700 focus-visible:ring-amber-300;
        }

        &[data-accent-color="orange"] {
            @apply bg-orange-500 border-orange-700 hover:bg-orange-600 active:bg-orange-700 focus-visible:ring-orange-300;
        }

        &[data-accent-color="amber"] {
            @apply bg-amber-500 border-amber-700 hover:bg-amber-600 active:bg-amber-700 focus-visible:ring-amber-300;
        }

        &[data-accent-color="yellow"] {
            @apply bg-yellow-500 border-yellow-700 hover:bg-yellow-600 active:bg-yellow-700 focus-visible:ring-yellow-300;
        }

        &[data-accent-color="lime"] {
            @apply bg-lime-500 border-lime-700 hover:bg-lime-600 active:bg-lime-700 focus-visible:ring-lime-300;
        }
    }





    .surface {
        @apply text-sm px-4 py-2 rounded-md border border-[var(--color-primary-200)] transition duration-150 ease-in-out;
        @apply text-[var(--color-primary-600)] bg-[var(--color-primary-50)];

        &:hover {
            @apply text-white;
        }

        &[data-accent-color="red"] {
            @apply bg-red-50 border-red-700 hover:bg-red-600 active:bg-red-700 focus-visible:ring-red-300 text-red-600 hover:text-white active:text-white;
        }

        &[data-accent-color="amber"] {
            @apply bg-amber-50 border-amber-700 hover:bg-amber-600 active:bg-amber-700 focus-visible:ring-amber-300 text-amber-600 hover:text-white active:text-white;
        }

    }

    .toggle {
        @apply text-sm px-4 py-2 rounded-md border border-[var(--color-primary-200)] transition duration-150 ease-in-out;
        @apply text-gray-800 bg-[var(--color-primary-50)];

        &[data-pressed] {
            @apply bg-[var(--color-primary-100)];
        }

        &[data-selected] {
            @apply text-[var(--color-white)] bg-[var(--color-primary-500)];

            &[data-pressed] {
                @apply bg-[var(--color-primary-600)];
            }
        }

        &[data-focus-visible] {
            @apply ring-2 ring-[var(--color-primary-300)] ring-offset-2;
        }

        &[data-disabled] {
            @apply bg-gray-200 text-gray-400 cursor-not-allowed;
        }


    }

    .toggleGroup {
        @apply flex flex-row;

        >button {
            @apply flex-1;
            z-index: 0;
            border-radius: 0;
            margin-inline-start: -1px;

            &[data-disabled] {
                z-index: 0;
            }

            &[data-selected],
            &[data-focus-visible] {
                z-index: 10;
            }

            &:first-child {
                margin-inline-start: 0;
                border-top-left-radius: var(--radius-md);
                border-bottom-left-radius: var(--radius-md);
            }

            &:last-child {
                border-top-right-radius: var(--radius-md);
                border-bottom-right-radius: var(--radius-md);
            }
        }
    }*/


}