.theme {
    position: absolute;
    left: 48px;
    border: 1px solid #f00;
    width: var(--sizes-sidebarWidth);
    background: #fff;
    height: 100%;
}


.add-token {
    background-color: var(--primary-color);
}