.theme {
    position: relative;
    left: 48px;
    border: 1px solid #f00;
    width: calc(100vw - 48px);
    /*var(--sizes-sidebarWidth);*/
    background: #fff;
    height: 100%;
}


.add-token {
    background-color: #f00;
}