.theme {
    position: absolute;
    left: 48px;
    border: 1px solid #f00;
    width: calc(100vw - var(--sizes-sideNavWidth));
    background: #fff;
    height: 100%;
}


.add-token {
    background-color: var(--primary-color);
}