node_modules
dist
/.cache
/build
.env

/test-results

.cache
.vercel
.output

/build/
/public/build
/api/index.js
/api/index.js.map
/api/_assets
/public/s/uploads
/public/cgi/asset
*storybook.log

/src_bak
# Added by Claude Task Master
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific
.DS_Store
Thumbs.db
*.bak
*.tmp
*.swp
*~

# Task files
tasks.json
tasks/ 
package-lock.json
