# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# production
/build
.env

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

/.dart_tool
/linux
/macos
/windows
.flutter-plugins
.flutter-plugins-dependencies

package_config_subset
package_config.json
