fieldset {
    display: grid;
    grid-template-rows: auto 27px;
    grid-template-columns: 1fr 1fr 27px;
    grid-template-areas:
        "label label label"
        "input1 input2 icon";
    gap: 4px 8px;

    button {
        padding: 2px;
        width: 27px;
        height: 27px;
    }
}

fieldset.direction {
    display: grid;
    grid-template-rows: auto 27px;
    grid-template-columns: 1fr 1fr 27px;
    grid-template-areas:
        "label label label"
        "input1 input2 icon"
        "input3 input2 icon"
        "input4 input2 icon";
    gap: 4px 8px;
}

.alignment-legend,
.position-legend {
    grid-area: label;
    font-size: var(--text-xs);
}

.alignment-horizontal,
.position-x {
    grid-area: input1;
    display: flex;
}

.alignment-vertical,
.position-y {
    grid-area: input2;
    display: flex;
}

.direction-gap-horizontal {
    grid-area: input3;
    display: flex;
}

.direction-gap-vertical {
    grid-area: input4;
    display: flex;
}

.alignment-distribution,
.position-distribution {
    grid-area: icon;
}

.position-label {
    display: block;
    width: 27px;
    min-width: 27px;
    height: 27px;
    padding: var(--spacing) var(--spacing);
    text-align: center;
    background-color: var(--color-gray-50);
    border: 1px solid var(--color-gray-200);
    border-right-width: 0px;
    border-radius: var(--radius-md) 0 0 var(--radius-md);
    font-size: var(--text-xs);
}

.position-input {
    width: 100%;
    background-color: var(--color-gray-50);
    border: 1px solid var(--color-gray-200);
    border-left-width: 0px;
    border-radius: 0 var(--radius-md) var(--radius-md) 0;
    font-size: var(--text-xs);

    &:focus {
        outline: none;
    }
}

.direction-alignment {
    grid-area: input2;

    [role="radiogroup"] {
        display: grid;
        grid-template-columns: repeat(3, 27px);
        grid-template-rows: repeat(3, 29px);
        gap: 0px;
        background-color: var(--color-gray-50);
        border: 1px solid var(--color-gray-200);
        border-radius: var(--radius-md);

        button {
            all: unset;
            margin-inline-start: -1px;
        }
    }
}