fieldset {
    display: grid;
    grid-template-rows: auto 32px;
    grid-template-columns: 1fr 1fr 27px;
    grid-template-areas:
        "label label label"
        "input1 input2 icon";
    gap: 4px 8px;

    button {
        padding: 2px;
        width: 27px;
        height: 27px;
    }
}

.alignment-legend,
.position-legend {
    grid-area: label;
    font-size: var(--text-xs);
}

.alignment-horizontal,
.position-x {
    grid-area: input1;
}

.alignment-vertical,
.position-y {
    grid-area: input2;
}

.alignment-distribution,
.position-distribution {
    grid-area: icon;
}