.projects {
    width: calc(240px *3);
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-wrap: wrap;
    flex-flow: row;
    flex-wrap: wrap;
}

.project-item {
    border: 1px solid #f00;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    border-radius: 8px;
    background-color: var(--color-neutral-100);
    width: 240px;
    height: 240px;
}

.open-builder {
    background-color: #141414;
    color: white;
}

.close-builder {
    background-color: #141414;
    color: white;
}


.overlay-background {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.overlay-pattern {
    position: absolute;
    inset: 0;
}

.overlay-pattern-inner {
    height: 100%;
    color: rgba(0, 0, 0, 0.1);
    background-size: 8px 8px;
    background-position: left top;
    background-image: repeating-linear-gradient(315deg, currentColor 0, currentColor 1px, transparent 0, transparent 50%);
}

.contents {
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header header"
        "left-sidebar main right-sidebar"
        "footer footer footer";
}

.header {
    grid-area: header;
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-sidebar {
    grid-area: left-sidebar;
}

.main {
    grid-area: main;
}

.right-sidebar {
    grid-area: right-sidebar;
}

.footer {
    grid-area: footer;
}

body {
    min-height: 100vh;
    min-height: 100dvh;

    #root {
        height: 100dvh;
    }
}

.dashboard {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    .header {
        width: 100%;
    }

    .main {
        width: 100%;
        display: flex;
        flex-direction: column;
        max-width: var(--container-6xl);
        min-width: var(--container-3xl);

        gap: var(--spacing-md);

        .add-project-form {
            width: 200px;
            display: flex;
            flex-direction: row;
            gap: 16px;
        }

        .projects-grid {

            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            gap: var(--spacing-md);

            .project-card {
                border: 1px solid var(--color-border);
                border-radius: var(--radius-2xl);
                padding: var(--spacing-md);
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: var(--spacing-sm);

                .icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-shrink: 0;
                    width: 32px;
                    height: 32px;
                    border: 1px solid var(--color-border);
                    border-radius: var(--radius-3xl);
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    min-width: 0;

                    .title {
                        font-size: var(--text-sm);
                        line-height: var(--text-sm--line-height);
                        font-weight: var(--font-weight-medium);
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .description {
                        font-size: var(--text-xs);
                        line-height: var(--text-xs--line-height);
                        color: var(--color-gray-500);
                    }
                }

                .project-actions {
                    display: flex;
                    flex-direction: row;
                    gap: var(--spacing-2xs);
                    flex-shrink: 0;

                    button {
                        padding: 0 var(--spacing-sm);
                        font-size: var(--text-2xs);
                    }
                }
            }
        }
    }

    .footer {
        width: 100%;
    }



}
