.color-preview {
    --color-h: 0deg;
    --color-s: 0%;
    --color-l: 0%;
    --color-a: 1;
    background-color: hsl(var(--color-h) var(--color-s) var(--color-l) / var(--color-a));
}

.color-preview[data-h] {
    --color-h: attr(data-h);
}

.color-preview[data-s] {
    --color-s: attr(data-s);
}

.color-preview[data-l] {
    --color-l: attr(data-l);
}

.color-preview[data-a] {
    --color-a: attr(data-a);
}