@layer components {
  .react-aria-ColorSlider {
    display: grid;
    grid-template-areas: "label output"
      "track track";
    grid-template-columns: 1fr auto;
    gap: 4px;
    max-width: 300px;
    contain: layout style;

    .react-aria-Label {
      grid-area: label;
    }

    .react-aria-SliderOutput {
      grid-area: output;
    }

    .react-aria-SliderTrack {
      grid-area: track;
      border-radius: var(--radius-md);
    }

    &[data-orientation=horizontal] {
      .react-aria-SliderTrack {
        height: 20px;
        touch-action: none;
      }

      .react-aria-ColorThumb {
        top: 50%;
      }
    }
  }

  .react-aria-ColorThumb {
    border: 4px solid var(--surface-variant);
    box-shadow: var(--shadow-sm);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    box-sizing: border-box;
    will-change: transform;

    &[data-focus-visible] {
      width: 20px;
      height: 20px;
    }
  }

  .react-aria-ColorSlider {
    &[data-orientation=vertical] {
      height: 150px;
      display: block;

      .react-aria-Label,
      .react-aria-SliderOutput {
        display: none;
      }

      .react-aria-SliderTrack {
        width: 20px;
        height: 100%;
      }

      .react-aria-ColorThumb {
        left: 50%;
      }
    }

    &[data-disabled] {
      .react-aria-SliderTrack {
        background: gray !important;
      }

      .react-aria-ColorThumb {
        background: gray !important;
        opacity: 0.5;
      }
    }
  }
}
