@layer components {
  .react-aria-ColorThumb {
    border: 4px solid var(--surface-variant);
    box-shadow: var(--shadow-sm);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    box-sizing: border-box;

    &[data-focus-visible] {
      width: 20px;
      height: 20px;
    }
  }

  .react-aria-ColorWheel {
    &[data-disabled] {
      .react-aria-ColorWheelTrack {
        background: gray !important;
      }

      .react-aria-ColorThumb {
        background: gray !important;
        opacity: 0.5;
      }
    }
  }
}
