@layer components {
  .react-aria-TextField,
  .react-aria-NumberField,
  .react-aria-ColorField,
  .react-aria-SearchField {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--fg);
  }
}
