/**
 * ProgressBar Component Styles
 */

@layer components {
  .react-aria-ProgressBar {
    --fill-color: var(--highlight-background);

    /* Variants */
    &[data-variant="secondary"] {
      --fill-color: var(--button-background);
    }
    &[data-variant="tertiary"] {
      --fill-color: var(--color-purple-600);
    }
    &[data-variant="error"] {
      --fill-color: var(--invalid-color);
    }
    &[data-variant="surface"] {
      --fill-color: var(--text-color-placeholder);
    }

    display: grid;
    grid-template-areas:
      "label value"
      "bar bar";
    grid-template-columns: 1fr auto;
    gap: var(--spacing-xs);
    width: 240px;
    color: var(--text-color);

    .value {
      grid-area: value;
      font-size: var(--text-sm);
      color: var(--text-color-placeholder);
    }

    .bar {
      grid-area: bar;
      box-shadow: var(--inset-shadow-xs);
      forced-color-adjust: none;
      height: 6px;
      border-radius: var(--radius-sm);
      overflow: hidden;
      will-change: transform;
      background: var(--color-neutral-200);
    }

    .fill {
      background: var(--fill-color);
      height: 100%;
      transition: width 200ms ease-out;
    }

    &:not([aria-valuenow]) {
      .fill {
        width: 120px;
        border-radius: inherit;
        animation: indeterminate 1.5s infinite ease-in-out;
        will-change: transform;
      }
    }
  }

  /* ===== Size Variants ===== */

  .react-aria-ProgressBar[data-size="sm"] {
    width: 200px;

    .bar {
      height: 6px;
      border-radius: var(--radius-sm);
    }

    .value {
      font-size: var(--text-sm);
    }
  }

  .react-aria-ProgressBar[data-size="md"] {
    width: 240px;

    .bar {
      height: 6px;
      border-radius: var(--radius-sm);
    }

    .value {
      font-size: var(--text-sm);
    }
  }

  .react-aria-ProgressBar[data-size="lg"] {
    width: 300px;

    .bar {
      height: 14px;
      border-radius: var(--radius-lg);
    }

    .value {
      font-size: var(--text-lg);
    }
  }

  @keyframes indeterminate {
    from {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(250px);
    }
  }
}
