.inspector {
    border-left: 1px solid var(--color-gray-300);

    .inspector-container {
        width: 100%;
    }

    /*.inspect_page {
        .panel-content {
            padding: calc(var(--spacing-sm));
        }
    }*/
}







.react-aria-TabPanel {
    outline: none;
    padding: 0;

    &[data-focus-visible] {
        outline: 2px solid var(--focus-ring-color);
    }
}