.inspector {
    border-left: 1px solid var(--color-gray-300);

    .inspector-container {
        width: 100%;
    }
}

.react-aria-Tabs {
    display: flex;


    &[data-orientation=horizontal] {
        flex-direction: column;
    }
}

.react-aria-TabList {
    display: flex;
    background-color: var(--color-gray-50);
    border-bottom: 1px solid var(--color-gray-200);
    min-height: var(--spacing-3xl);
    align-items: center;
    padding: 0 calc(var(--spacing-lg));
    gap: var(--spacing-lg);
}

.react-aria-Tab {
    font-size: var(--text-xs);
    cursor: default;
    outline: none;
    position: relative;
    color: var(--color-gray-400);
    font-weight: var(--font-weight-bold);
    border-radius: 4px;

    padding: calc(var(--spacing) * 1.125) 0;

    align-items: center;
    justify-content: center;
    display: flex;

    transition: color 200ms;
    --border-color: transparent;
    forced-color-adjust: none;

    &[data-hovered],
    &[data-focused] {
        color: var(--text-color-hover);
    }

    &[data-selected] {
        color: var(--color-gray-900);
    }

    &[data-disabled] {
        color: var(--text-color-disabled);

        &[data-selected] {
            --border-color: var(--text-color-disabled);
        }
    }

    &[data-focus-visible]:after {
        content: '';
        position: absolute;
        inset: 4px;
        border-radius: 4px;
        border: 2px solid var(--focus-ring-color);
    }
}

.react-aria-TabPanel {
    outline: none;

    &[data-focus-visible] {
        outline: 2px solid var(--focus-ring-color);
    }
}