:root {
    --sizes-sidebarWidth: 240px;
    --sizes-navigatorWidth: 0px;
}
* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        list-style: none;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-left: 16px;
    }
}

h3 {
    margin: 0;
    padding: 8px;
    font-size: 12px;
    height: 48px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
}

button {
    border: 0;
    padding: 4px 16px;
    cursor: pointer;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #333;
    text-align: center;
    border-bottom: 1px solid #eee;
}
html {
    font-family: Pretendard;
    font-size: 14px;
    line-height: 1.5;
    overflow: hidden;
    overscroll-behavior: contain;
    -webkit-font-smoothing: antialiased;
}

html,
body {
    border: 0;
    margin: 0;

    .app {
        display: contents;

        .container {
            height: 100vh;
            overflow: hidden;
            display: grid;
            grid-template-rows: auto 1fr auto;
            grid-template-columns: auto var(--sizes-sidebarWidth) 1fr var(--sizes-sidebarWidth);
            grid-template-areas:
                "header header header header"
                "sidebar navigator main inspector"
                "footer footer footer footer";
        }
    }
}







