@layer utilities {
    :root {
        --color-border: var(--border-color);
        --color-background: var(--background);
        --highlight-background: var(--action-primary-bg);
        --highlight-foreground: var(--action-primary-text);
        --overlay-background: var(--surface-tertiary);
    }
}