/* Content */

.sidebar_pages,
.sidebar_elements {
    width: var(--sidebar-width);
    position: relative;
}

/* Elements */
.elements {
    padding: 0;
}

.element {
    position: relative;
    cursor: pointer;
}

.elementItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid transparent;
    /*padding: var(--spacing);*/
    transition: background-color 0.3s ease-in-out;
    overflow: hidden;

}

.elementItem:hover {
    background-color: var(--hover-bg);
}

.elementItem.active {
    background-color: var(--color-sky-100);
    border: 1px solid var(--color-sky-600);
    color: var(--color-gray-c500);
}

.elementItemIndent {
    display: inline-block;
    width: var(--spacing-lg);
    height: calc(var(--spacing) * 6.75);
    /*var(--spacing-lg);*/
    position: relative;

    /*&::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0px;
        width: 1px;
        height: 100%;
        background-color: var(--color-red-900);
    }*/
}

.elementItemSpacer {
    display: inline-block;
    width: 8px;
    height: calc(var(--spacing) * 6.75);
    border-right: 1px solid var(--color-gray-300);
    position: relative;
}

.elementItemIcon {
    width: var(--spacing-lg);
    height: var(--spacing-lg);
    min-width: var(--spacing-lg);
    min-height: var(--spacing-lg);
    transform: rotate(90deg);
}

.elementItemLabel {
    flex: 1;
    font-size: var(--text-xs);
    height: var(--icon-button-size);
    line-height: var(--icon-button-size);
    -webkit-user-select: none;
    user-select: none;

    text-indent: var(--spacing);
}

.elementItemActions {
    display: flex;
    flex-direction: row;
    transition: transform 0.2s ease-in-out;
    transform: translateX(120%);
    gap: 4px;
}

.elementItemActions .iconButton {
    padding: calc(var(--spacing) * 1.375);
}

.elementItem:hover .elementItemActions,
.elementItem.active .elementItemActions {
    transform: translateX(0%);
}

/*
.elementItemActions .iconButton {
    width: var(--icon-button-size);
    height: var(--icon-button-size);
    padding: 0;
}
*/

.no_element {
    padding: var(--element-padding) calc(var(--element-padding) * 2);
    color: #999;
    font-size: 0.875rem;
}