/* Content */

.sidebar_pages,
.sidebar_elements {
  width: var(--sidebar-width);
  position: relative;
}

/* Elements */
.elements {
  padding: 0;
}

.element {
  position: relative;
  cursor: pointer;
}

.elementItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease;
  overflow: hidden;
}

.elementItem:hover {
  background-color: var(--hover-bg);
  outline: 1px solid var(--border-color);
  z-index: 1;
}

.elementItem.active {
  box-shadow: var(--inset-shadow-sm);
  background-color: var(--builder-button-active-bg);
  outline: 1px solid var(--border-color);
  z-index: 1;
}

.elementItemIndent {
  display: inline-block;
  width: var(--spacing-lg);
  height: var(--spacing-2xl);
  /*var(--spacing-lg);*/
  position: relative;

  background: linear-gradient(to left, var(--border-color) 1px, transparent 1px)
    0 0 / 8px 1px;
}

.elementItemIcon {
  width: var(--spacing-lg);
  height: var(--spacing-lg);
  min-width: var(--spacing-lg);
  min-height: var(--spacing-lg);
}

.elementItemLabel {
  flex: 1;
  font-size: var(--text-xs);
  height: var(--text-2xl);
  line-height: var(--text-2xl);
  -webkit-user-select: none;
  user-select: none;

  text-indent: var(--spacing);
}

.elementItemActions {
  display: flex;
  flex-direction: row;
  transition: transform 0.24s ease-in-out;
  transform: translateX(100%);
}

.elementItemActions .iconButton {
  padding: var(--spacing-sm);
}

.elementItem:hover .elementItemActions,
.elementItem.active .elementItemActions {
  transform: translateX(0%);
}

.no_element {
  padding: var(--element-padding) calc(var(--element-padding) * 2);
  color: #999;
  font-size: 0.875rem;
}
