/* Content */

.sidebar_pages,
.sidebar_elements {
    width: var(--sidebar-width);
    position: relative;
}

/* Elements */
.elements {
    padding: 0;
}

.element {
    position: relative;
    cursor: pointer;
}

.elementItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing);
    transition: background-color 0.3s ease-in-out;
    overflow: hidden;
    padding-right: 10px;

    &:not(:last-child)::before {
        content: '';
        position: absolute;
        top: 25px;
        width: 100%;
        height: calc(100% - 35px);
        border-left: 1px solid var(--color-gray-400);
        margin-left: 6px;
    }
}

.elementItem:hover {
    background-color: var(--hover-bg);
}

.elementItem.active {
    background-color: var(--active-bg);
    color: var(--active-color);
}

.elementItemIcon {
    width: var(--spacing-lg);
    height: var(--spacing-lg);
    min-width: var(--spacing-lg);
    min-height: var(--spacing-lg);
    background-color: var(--color-gray-200);
    border-radius: var(--radius-sm);
    margin-right: var(--spacing);
}

.elementItemLabel {
    flex: 1;
    font-size: var(--text-xs);
    height: var(--icon-button-size);
    line-height: var(--icon-button-size);
    -webkit-user-select: none;
    user-select: none;
}

.elementItemActions {
    display: flex;
    flex-direction: row;
    transition: transform 0.2s ease-in-out;
    transform: translateX(120%);
    gap: 4px;
}

.elementItemActions .iconButton {
    padding: calc(var(--spacing) * 1.375);
}

.elementItem:hover .elementItemActions,
.elementItem.active .elementItemActions {
    transform: translateX(0%);
}

/*
.elementItemActions .iconButton {
    width: var(--icon-button-size);
    height: var(--icon-button-size);
    padding: 0;
}
*/

.no_element {
    padding: var(--element-padding) calc(var(--element-padding) * 2);
    color: #999;
    font-size: 0.875rem;
}