.overlay-element {
  /*transition: var(--default-transition-duration) var(--default-transition-timing-function);*/
  position: absolute;
  pointer-events: none;
  z-index: 1;
  outline: 1px solid var(--builder-indicator-bg);
  outline-offset: 0;
}

.overlay-info {
  pointer-events: auto;
  bottom: 100%;
  position: absolute;
  display: flex;
}

.overlay-tag {
  font-family: var(--font-mono);
  font-size: var(--text-xs);
  text-transform: uppercase;
  padding: var(--spacing) var(--spacing-sm);
  background-color: var(--builder-indicator-bg);
  color: var(--builder-indicator-text);
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
  /*margin-left: -0.05rem;*/
}

.overlay-tag-parent {
  padding: var(--spacing);
  background: var(--builder-indicator-hover-bg);
  margin-left: -25px;
}

.overlay-background {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: var(--builder-indicator-bg);
  opacity: 0.05;
  box-shadow: var(--inset-shadow-sm);
}

.overlay-pattern {
  position: absolute;
  inset: 0;
  display: none;
}

.overlay-pattern-inner {
  height: 100%;
  color: rgba(0, 0, 0, 0.1);
  background-size: 8px 8px;
  background-position: left top;
  background-image: repeating-linear-gradient(
    315deg,
    currentColor 0,
    currentColor 1px,
    transparent 0,
    transparent 50%
  );
}

.resize-handle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 6px;
  height: 48px;
  background: var(--builder-inspector-header-bg);
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + 8px);
  border-radius: 48px;
  cursor: ew-resize;
  pointer-events: auto;
}
