.overlay {}

.overlay-element {
    position: absolute;
    pointer-events: none;
    z-index: 1;
    @apply ring-1 ring-[var(--color-sky-500)];
}

.overlay-info {
    pointer-events: auto;
    bottom: 100%;
    position: absolute;
    display: flex;
}

.overlay-tag {
    font-family: var(--font-mono);
    font-size: var(--text-xs);
    text-transform: uppercase;
    padding: var(--spacing) var(--spacing-sm);
    background-color: var(--color-sky-500);
    color: var(--color-neutral-100);
    cursor: default;
    -webkit-user-select: none;
    user-select: none;
    /*margin-left: -0.05rem;*/
}

.overlay-tag-parent {
    padding: var(--spacing);
    background: var(--color-sky-200);
    margin-left: -25px;
}

.overlay-background {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: var(--color-sky-500);
    @apply ring-1 ring-[var(--color-sky-500)] opacity-5;
}

.overlay-pattern {
    position: absolute;
    inset: 0;
}

.overlay-pattern-inner {
    height: 100%;
    color: rgba(0, 0, 0, 0.1);
    background-size: 8px 8px;
    background-position: left top;
    background-image: repeating-linear-gradient(315deg, currentColor 0, currentColor 1px, transparent 0, transparent 50%);
}

.resize-handle {
    /*position: absolute;
    bottom: 0;
    right: 0;
    width: 6px;
    height: 48px;
    background: var(--color-gray-50);
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% + 8px);
    border-radius: 48px;
    cursor: ew-resize;
    pointer-events: auto;*/
}