/**
 * Material Design 3 Separator Styles
 *
 * M3 Variants: solid, dashed, dotted, primary, secondary, surface
 * Sizes: sm, md, lg
 *
 * Reference: https://m3.material.io/components/divider
 */

@layer components {
  .react-aria-Separator {
    border: none;
    background-color: var(--outline-variant);
    flex-shrink: 0;
  }

  /* Horizontal orientation (default) */
  .react-aria-Separator.horizontal {
    width: 100%;
    height: 1px;
  }

  .react-aria-Separator[aria-orientation='horizontal'] {
    width: 100%;
    height: 1px;
  }

  /* Vertical orientation */
  .react-aria-Separator.vertical {
    height: 100%;
    width: 1px;
  }

  .react-aria-Separator[aria-orientation='vertical'] {
    height: 100%;
    width: 1px;
  }

  /* Size variants - Horizontal */
  .react-aria-Separator.horizontal.sm,
  .react-aria-Separator[aria-orientation='horizontal'].sm {
    height: 1px;
    margin: var(--spacing-2) 0;
  }

  .react-aria-Separator.horizontal.md,
  .react-aria-Separator[aria-orientation='horizontal'].md {
    height: 1px;
    margin: var(--spacing-4) 0;
  }

  .react-aria-Separator.horizontal.lg,
  .react-aria-Separator[aria-orientation='horizontal'].lg {
    height: 2px;
    margin: var(--spacing-6) 0;
  }

  /* Size variants - Vertical */
  .react-aria-Separator.vertical.sm,
  .react-aria-Separator[aria-orientation='vertical'].sm {
    width: 1px;
    margin: 0 var(--spacing-2);
  }

  .react-aria-Separator.vertical.md,
  .react-aria-Separator[aria-orientation='vertical'].md {
    width: 1px;
    margin: 0 var(--spacing-4);
  }

  .react-aria-Separator.vertical.lg,
  .react-aria-Separator[aria-orientation='vertical'].lg {
    width: 2px;
    margin: 0 var(--spacing-6);
  }

  /* Dashed variant */
  .react-aria-Separator.dashed {
    background-color: transparent;
    border-top: 1px dashed var(--outline-variant);
  }

  .react-aria-Separator.vertical.dashed,
  .react-aria-Separator[aria-orientation='vertical'].dashed {
    border-top: none;
    border-left: 1px dashed var(--outline-variant);
  }

  /* Dotted variant */
  .react-aria-Separator.dotted {
    background-color: transparent;
    border-top: 1px dotted var(--outline-variant);
  }

  .react-aria-Separator.vertical.dotted,
  .react-aria-Separator[aria-orientation='vertical'].dotted {
    border-top: none;
    border-left: 1px dotted var(--outline-variant);
  }

  /* Large dashed/dotted thickness */
  .react-aria-Separator.lg.dashed {
    border-width: 2px;
  }

  .react-aria-Separator.lg.dotted {
    border-width: 2px;
  }
}
