@import "../theme.css";

@layer components {
  .react-aria-Button {
    color: var(--text-color);
    background: var(--button-background);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    appearance: none;
    vertical-align: middle;
    font-size: var(--text-sm);
    text-align: center;
    margin: 0;
    outline: none;
    padding: var(--spacing) var(--spacing-md);
    text-decoration: none;

    &[data-pressed] {
      box-shadow: var(--inset-shadow-sm);
      background: var(--button-background-pressed);
      border-color: var(--border-color-pressed);
    }

    &[data-focus-visible] {
      outline: 2px solid var(--focus-ring-color);
      outline-offset: -1px;
    }

    &[data-disabled] {
      border-color: var(--border-color-disabled);
      color: var(--text-color-disabled);
    }
  }

  @keyframes toggle {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}
