@import "../theme.css";

@layer components {
  .react-aria-Button {
    color: var(--text-color);
    background: var(--button-background);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    appearance: none;
    vertical-align: middle;
    font-size: var(--text-sm);
    text-align: center;
    margin: 0;
    outline: none;
    padding: var(--spacing) var(--spacing-md);
    text-decoration: none;

    &[data-pressed] {
      box-shadow: var(--inset-shadow-sm);
      background: var(--button-background-pressed);
      border-color: var(--border-color-pressed);
    }

    &[data-focus-visible] {
      outline: 2px solid var(--focus-ring-color);
      outline-offset: 2px;
    }

    &[data-disabled] {
      border-color: var(--border-color-disabled);
      color: var(--text-color-disabled);
    }

    &.primary {
      background: var(--button-primary-bg);
      color: var(--button-primary-text);
      border-color: var(--color-primary-600);
    }

    &.secondary {
      background: var(--button-secondary-bg);
      color: var(--button-secondary-text);
      border-color: var(--color-secondary-600);
    }

    &.surface {
      background: var(--color-surface-500);
      color: var(--color-white);
      border-color: var(--color-surface-600);
    }

    &.outline {
      background: transparent;
      color: var(--color-gray-800);
      border-color: var(--color-gray-300);
    }

    &.ghost {
      background: transparent;
      color: var(--color-gray-800);
      border-color: transparent;
    }

    &.xs {
      font-size: var(--text-2xs);
      padding: var(--spacing-2xs) var(--spacing-sm);
    }

    &.sm {
      padding: var(--spacing) var(--spacing-md);
      font-size: var(--text-sm);
    }

    &.md {
      padding: var(--spacing-sm) var(--spacing-xl);
      font-size: var(--text-base);
    }

    &.lg {
      padding: var(--spacing-md) var(--spacing-2xl);
      font-size: var(--text-lg);
    }

    &.xl {
      padding: var(--spacing-lg) var(--spacing-3xl);
      font-size: var(--text-xl);
    }
  }

  @keyframes toggle {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}
