@import './Checkbox.css';
@import './Form.css';
@import './Button.css';
@import "../theme.css";

@layer components {
  
  .react-aria-CheckboxGroup {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    color: var(--text-color);
  
    .react-aria-FieldError {
      font-size: var(--text-xs);
      color: var(--invalid-color);
    }
  
    [slot=description] {
      font-size: var(--text-xs);
    }
    
    &[data-orientation=horizontal] {
      flex-direction: row;
      align-items: center;
    }
  }
}
