@import './base.css';

@layer components {
  .react-aria-ListBox,
  .react-aria-GridList {
    outline: none;
    overflow: auto;
    max-height: var(--container-6xl);
    padding: var(--spacing);
  }

  .react-aria-ListBoxItem,
  .react-aria-GridListItem {
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--gap);
    cursor: default;
    padding: var(--spacing) var(--spacing-md);
    border-radius: var(--radius);
    font-size: var(--text-sm);
    color: var(--text-color);

    &[data-focused] {
      outline: 2px solid;
      outline-offset: -2px;
      outline-color: var(--focus-ring-color);
    }

    &[data-selected] {
      background: var(--highlight-background);
      color: var(--highlight-foreground);
    }

    &[data-disabled] {
      color: var(--text-color-disabled);
    }
  }
}
