@import './base.css';

@layer components {
  .react-aria-ListBox,
  .react-aria-GridList {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background: var(--overlay-background);
    forced-color-adjust: none;
    width: 100%;
    outline: none;
    overflow: auto;
    max-height: var(--container-6xl);
    padding: var(--spacing);

    &[data-focus-visible] {
      outline: 2px solid var(--focus-ring-color);
      outline-offset: -1px;
    }
    &[data-focus-within] {
      outline: 1px solid var(--focus-ring-color);
      
    }
  }

  .react-aria-ListBoxItem,
  .react-aria-GridListItem {
    position: relative;

    gap: var(--gap);
    cursor: default;
    padding: var(--spacing) var(--spacing-md);
    border-radius: var(--border-radius);
    font-size: var(--text-sm);
    color: var(--text-color);

    &[data-focused] {
      outline: 0px solid;
      outline-offset: -2px;
      outline-color: var(--focus-ring-color);
    }

    &[data-selected] {
      background: var(--highlight-background);
      color: var(--highlight-foreground);
    }

    &[data-disabled] {
      color: var(--text-color-disabled);
    }
  }
}
