@import "./Checkbox.css";
@import "./ListBox.css";
@import "./Popover.css";
@import "./Form.css";
@import "./Button.css";
@import "../theme.css";

@layer components {
  .react-aria-ComboBox {
    color: var(--text-color);

    > div:has(.react-aria-Input) {
      display: flex;
      align-items: center;
    }

    .react-aria-Input {
      margin: 0;
      /*background: var(--field-background);
      color: var(--field-text-color);
      border: 1px solid var(--border-color);
      border-radius: 6px;
      vertical-align: middle;
      outline: none;
      min-width: 0;
      padding: 0.286rem 2rem 0.286rem 0.571rem;*/

      &[data-focused] {
        outline: 2px solid var(--focus-ring-color);
        outline-offset: -1px;
      }
    }

    .react-aria-Button {
      background: var(--highlight-background);
      color: var(--highlight-foreground);
      forced-color-adjust: none;
      border: none;
      margin-left: calc(var(--text-2xl) * -1);
      width: var(--text-xl);
      height: var(--text-xl);
      padding: 0;
      cursor: default;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      &[data-pressed] {
        box-shadow: none;
        background: var(--highlight-background);
      }
    }
  }

  .react-aria-Popover[data-trigger="ComboBox"] {
    width: var(--trigger-width);
    contain: layout style paint;

    .react-aria-ListBox {
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      min-height: 40px;

      .react-aria-ListBoxItem {
        transform: translate3d(0, 0, 0);
      }
    }
  }

  .react-aria-ListBoxItem[href] {
    text-decoration: none;
    cursor: pointer;
  }

  .react-aria-ComboBox {
    .react-aria-Input {
      &[data-disabled] {
        border-color: var(--border-color-disabled);
      }
    }

    .react-aria-Button {
      &[data-disabled] {
        background: var(--border-color-disabled);
      }
    }

    .react-aria-Input {
      &[data-invalid]:not([data-focused]) {
        border-color: var(--invalid-color);
      }
    }

    .react-aria-FieldError {
      font-size: var(--text-xs);
      color: var(--invalid-color);
    }

    [slot="description"] {
      font-size: var(--text-xs);
    }
  }
}
