@import "./base.css";

@layer components {
  .component-search {
    z-index: 1;
  }

  /* SearchField 스타일 */
  .component-search-field {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .component-search-field .react-aria-Input::placeholder {
    color: var(--focus-ring-color);
  }

  .component-search-field .react-aria-Input {
    box-shadow: var(--inset-shadow-sm);
    background-color: var(--surface-container-high);
    outline: 1px solid var(--border-color);
    border: 0;
    width: 100%;
    border-radius: 0;
    font-size: var(--text-xs);
    line-height: var(--text-xs--line-height);
    padding: var(--spacing-sm);
    padding-inline-start: var(--spacing-sm);
    color: var(--primary);
    transition: all 200ms;
  }

  .component-search-field .react-aria-Input:focus {
    outline: none;
    background-color: var(--builder-inspector-button-primary-bg);
    box-shadow: var(--inset-shadow-xs);
  }

  /* Clear 버튼 */
  .component-search-field .react-aria-Button {
    margin-left: calc(var(--text-2xl) * -1);
    width: var(--text-xl);
    height: var(--text-xl);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    border-radius: var(--radius-sm);
    background: var(--surface-container);
    color: var(--on-surface-variant);
    cursor: pointer;
    transition: all 150ms;
  }

  .component-search-field .react-aria-Button:hover {
    background: var(--builder-inspector-bg);
    color: var(--text-color);
  }
}
