@import './base.css';

@layer components {
  .component-search {
    box-shadow: var(--inset-shadow-sm);
    background-color: var(--color-gray-100);
    outline: 1px solid var(--color-gray-200);
    border-bottom: 1px solid var(--color-gray-200);
  }

  /* SearchField 스타일 */
  .component-search-field {
    width: 100%;
  }

  .component-search-field .react-aria-Input {
    width: 100%;
    height: 32px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: var(--border-radius);
    font-size: var(--text-xs);
    line-height: var(--text-xs--line-height);
    padding: calc(var(--spacing) * 1.125);
    padding-inline-start: var(--spacing-3);
    color: var(--color-gray-900);
    transition: all 200ms;
  }

  .component-search-field .react-aria-Input::placeholder {
    color: var(--color-gray-400);
  }

  .component-search-field .react-aria-Input:focus {
    outline: none;
    background-color: var(--color-gray-100);
  }

  /* Clear 버튼 */
  .component-search-field .react-aria-Button {
    position: absolute;
    right: var(--spacing);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    border-radius: var(--radius-sm);
    background: transparent;
    color: var(--color-gray-500);
    cursor: pointer;
    transition: all 150ms;
  }

  .component-search-field .react-aria-Button:hover {
    background: var(--color-gray-200);
    color: var(--color-gray-700);
  }
}