@import './base.css';

@layer components {
  /* Heading component */
  .react-aria-Heading {
    font-weight: 600;
    color: var(--text-color);
    margin: 0;
  }

  /* Text component */
  .react-aria-Text {
    color: var(--text-color);
    font-size: var(--text-base);
  }

  /* Description slot */
  .react-aria-Description {
    font-size: var(--text-xs);
    color: var(--text-color-base);
  }
}
