@layer components {
  
  .react-aria-Dialog {
    outline: none;
    padding: var(--spacing-lg);
    max-height: inherit;
    box-sizing: border-box;
    overflow: auto;
  
    .react-aria-Heading[slot=title] {
      line-height: 1em;
      margin-top: 0;
    }
  }
}
