@import "../theme.css";

@layer components {
  
  .react-aria-NumberField {
    color: var(--text-color);
  
    .react-aria-Group {
      display: flex;
      width: fit-content;
      border-radius: var(--border-radius);
  
      &[data-focus-within] {
        outline: 1px solid var(--focus-ring-color);
        .react-aria-Input,
        .react-aria-Button {
          outline: none;
        }
      }
    }
  
    .react-aria-Button {
      font-size: var(--text-sm);
      width: var(--text-3xl);
      padding: var(--spacing);
      display: flex;
      align-items: center;
      justify-content: center;
  
      &[slot=decrement] {
        border-start-end-radius: 0;
        border-end-end-radius: 0;
      }
  
      &[slot=increment] {
        border-start-start-radius: 0;
        border-end-start-radius: 0;
      }
    }
  
    .react-aria-Input {
      background: var(--field-background);
      border: 1px solid var(--border-color);
      border-radius: 0;
      color: var(--field-text-color);
      margin: 0 -1px;
      z-index: 1;
      font-size: var(--text-sm);
      padding: var(--spacing) var(--spacing-md);
      outline: none;
      width: var(--text-9xl);
      flex: 1;
    }
  
    &[data-invalid] {
      .react-aria-Input,
      .react-aria-Button {
        border-color: var(--invalid-color);
      }
  
      &:focus-within {
        .react-aria-Input,
        .react-aria-Button {
          border-color: var(--focus-ring-color);
        }
      }
    }
  
    .react-aria-FieldError {
      font-size: var(--text-xs);
      color: var(--invalid-color);
    }
  
    [slot=description] {
      font-size: var(--text-xs);
    }
  
    .react-aria-Button {
      &[data-disabled] {
        border-color: var(--border-color-disabled);
        color: var(--text-color-disabled);
      }
    }
  
    .react-aria-Input {
      &[data-disabled] {
        border-color: var(--border-color-disabled);
        color: var(--text-color-disabled);
      }
    }
  }
}
