@import "../theme.css";

@layer components {

  @keyframes popover-enter {
    from {
      opacity: 0;
      transform: translate3d(0, -8px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes popover-exit {
    from {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    to {
      opacity: 0;
      transform: translate3d(0, -8px, 0);
    }
  }

  .react-aria-Popover {
    border: 1px solid var(--border-color);
    box-shadow: var(--drop-shadow-md);
    border-radius: var(--border-radius);
    background: var(--overlay-background);
    color: var(--text-color);
    outline: none;
    max-width: 250px;
    transition: transform 150ms cubic-bezier(0.16, 1, 0.3, 1), opacity 150ms cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .react-aria-OverlayArrow svg {
      display: block;
      fill: var(--overlay-background);
      stroke: var(--border-color);
      stroke-width: 1px;
    }

    &[data-entering] {
      animation: popover-enter 150ms cubic-bezier(0.16, 1, 0.3, 1);
    }

    &[data-exiting] {
      animation: popover-exit 150ms cubic-bezier(0.16, 1, 0.3, 1);
    }

    &[data-open] {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  
    &[data-placement=top] {
      --origin: translateY(8px);
  
      &:has(.react-aria-OverlayArrow) {
        margin-bottom: 6px;
      }
    }
  
    &[data-placement=bottom] {
      --origin: translateY(-8px);
  
      &:has(.react-aria-OverlayArrow) {
        margin-top: 6px;
      }
  
      .react-aria-OverlayArrow svg {
        transform: rotate(180deg);
      }
    }
  
    &[data-placement=right] {
      --origin: translateX(-8px);
  
      &:has(.react-aria-OverlayArrow) {
        margin-left: 6px;
      }
  
      .react-aria-OverlayArrow svg {
        transform: rotate(90deg);
      }
    }
  
    &[data-placement=left] {
      --origin: translateX(8px);
  
      &:has(.react-aria-OverlayArrow) {
        margin-right: 6px;
      }
  
      .react-aria-OverlayArrow svg {
        transform: rotate(-90deg);
      }
    }
  }
}
