@import './base.css';

@layer components {
  .react-aria-Radio {
    display: flex;
    position: relative;
    align-items: center;
    gap: var(--gap);
    font-size: var(--text-sm);
    line-height: var(--text-sm--line-height);
    color: var(--text-color);
    forced-color-adjust: none;
    padding: var(--spacing);
    width: fit-content;

    &:before {
      content: "";
      display: block;
      width: var(--text-lg);
      height: var(--text-lg);
      box-sizing: border-box;
      border: 2px solid var(--border-color);
      background: var(--field-background);
      border-radius: var(--text-lg);
      transition: all 0.2s ease;
    }

    &[data-pressed]:before {
      border-color: var(--border-color-pressed);
    }

    &[data-selected] {
      &:before {
        border-color: var(--highlight-background);
        border-width: calc(var(--spacing) * 1.25);
      }

      &[data-pressed]:before {
        border-color: var(--highlight-background-pressed);
      }
    }

    &[data-focus-visible]:before {
      outline: 2px solid var(--focus-ring-color);
      outline-offset: 2px;
    }

    &[data-invalid] {
      &:before {
        border-color: var(--invalid-color);
      }

      &[data-selected]:before {
        border-color: var(--invalid-color);
      }
    }

    &[data-disabled] {
      color: var(--text-color-disabled);

      &:before {
        border-color: var(--border-color-disabled);
      }
    }
  }
}
