@import './base.css';

@layer components {
  .react-aria-Radio {
    display: flex;
    position: relative;
    align-items: center;
    gap: var(--spacing-sm);
    font-size: var(--text-sm);
    line-height: calc(var(--text-2xs) * 2.2);
    color: var(--color-gray-800);
    forced-color-adjust: none;
    padding: var(--spacing);
    padding-left: var(--spacing);
    width: fit-content;

    &:before {
      content: "";
      display: block;
      width: var(--spacing-lg);
      height: var(--spacing-lg);
      box-sizing: border-box;
      border: var(--spacing-2xs) solid var(--border-color);
      background: var(--field-background);
      border-radius: calc(var(--spacing-lg) * 1.25);
      transition: all 200ms;
    }

    &[data-pressed]:before {
      border-color: var(--border-color-pressed);
    }

    &[data-selected] {
      &:before {
        border-color: var(--highlight-background);
        border-width: calc(var(--spacing) * 1.25);
      }

      &[data-pressed]:before {
        border-color: var(--highlight-background-pressed);
      }
    }

    &[data-focus-visible]:before {
      outline: 2px solid var(--focus-ring-color);
      outline-offset: 2px;
    }

    &[data-invalid] {
      &:before {
        border-color: var(--invalid-color);
      }

      &[data-selected]:before {
        border-color: var(--invalid-color);
      }
    }

    &[data-disabled] {
      color: var(--text-color-disabled);

      &:before {
        border-color: var(--border-color-disabled);
      }
    }
  }
}
