@layer components {
  
  .react-aria-SearchField {
    display: grid;
    grid-template-areas: "label label"
                         "input button"
                         "help  help";
    grid-template-columns: 1fr auto;
    align-items: center;
    width: fit-content;
    color: var(--text-color);
  
    .react-aria-Input {
      grid-area: input;
      width: 100%;
      padding: var(--spacing) var(--spacing-xl) var(--spacing) var(--spacing);
      margin: 0;
      border: 1px solid var(--border-color);
      border-radius: var(--border-radius);
      background: var(--field-background);
      font-size: var(--text-sm);
      color: var(--field-text-color);
      outline: none;
  
      &::-webkit-search-cancel-button,
      &::-webkit-search-decoration {
        -webkit-appearance: none;
      }
  
      &::placeholder {
        color: var(--text-color-placeholder);
        opacity: 1;
      }
  
      &[data-focused] {
        outline: 2px solid var(--focus-ring-color);
        outline-offset: -1px;
      }
    }
  
    .react-aria-Button {
      grid-area: button;
      width: var(--text-lg);
      height: var(--text-lg);
      border-radius: var(--text-lg);
      margin-left: -1.429rem;
      font-size: var(--text-xs);
      line-height: var(--text-xs--line-height);
      vertical-align: middle;
      text-align: center;
      background: var(--color-gray-500);
      color: var(--color-gray-50);
      border: none;
      padding: 0;
  
      &[data-pressed] {
        background: var(--color-gray-600);
      }
    }
  
    &[data-empty] button {
      display: none;
    }
  
    .react-aria-Input{
      &[data-invalid] {
        border-color: var(--invalid-color);
      }
    }
  
    .react-aria-FieldError {
      grid-area: help;
      font-size: var(--text-xs);
      color: var(--invalid-color);
    }
  
    [slot=description] {
      grid-area: help;
      font-size: var(--text-xs);
    }
  
    .react-aria-Input {
      &[data-disabled] {
        border-color: var(--border-color-disabled);
        color: var(--text-color-disabled);
      }
    }
  }
}
