@import "./ListBox.css";
@import "./Popover.css";
@import "./Button.css";
@import "./Form.css";
@import "../theme.css";

@layer components {
  .react-aria-Select {
    color: var(--text-color);

    .react-aria-Button {
      border-radius: var(--border-radius);
      font-size: var(--text-sm);
      padding: var(--spacing);
      display: flex;
      align-items: center;
      max-width: 250px;

      &[data-focus-visible],
      &[data-pressed] {
        outline: 2px solid var(--focus-ring-color);
        outline-offset: -1px;
      }
    }

    .react-aria-SelectValue {
      font-size: var(--text-sm);
      &[data-placeholder] {
        font-style: italic;
        color: var(--text-color-placeholder);
      }
    }

    span[aria-hidden] {
      width: var(--text-xl);
      height: var(--text-xl);
      line-height: var(--text-xl);
      margin-left: var(--spacing);
      background: var(--highlight-background);
      color: var(--highlight-foreground);
      forced-color-adjust: none;
      border-radius: var(--border-radius);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .react-aria-Popover[data-trigger="Select"] {
    min-width: var(--trigger-width);
  }

  .react-aria-ListBoxItem[href] {
    text-decoration: none;
    cursor: pointer;
  }

  .react-aria-Select {
    .react-aria-SelectValue {
      [slot="description"] {
        display: none;
      }
    }

    .react-aria-Button {
      &[data-disabled] {
        border-color: var(--border-color-disabled);
        color: var(--text-color-disabled);
        span[aria-hidden] {
          background: var(--border-color-disabled);
          color: var(--text-color-disabled);
        }

        .react-aria-SelectValue {
          &[data-placeholder] {
            color: var(--text-color-disabled);
          }
        }
      }
    }
  }

  @media (forced-colors: active) {
    .react-aria-Select {
      .react-aria-Button {
        &[data-disabled] span[aria-hidden] {
          background: 0 0;
        }
      }
    }
  }

  .react-aria-Select {
    .react-aria-FieldError {
      font-size: 12px;
      color: var(--invalid-color);
    }

    [slot="description"] {
      font-size: 12px;
    }
  }
}
