@import "./Button.css";
@import "./Link.css";
@import "../theme.css";

@layer components {
  .react-aria-Tabs {
    width: 100%;
    display: flex;
    color: var(--text-color);
    font-size: var(--text-sm);
    &[data-orientation="horizontal"] {
      flex-direction: column;
    }
  }

  .react-aria-TabList {
    display: flex;

    &[data-orientation="horizontal"] {
      border-bottom: 1px solid var(--border-color);

      .react-aria-Tab {
        border-bottom: 3px solid var(--border-color);
      }
    }
  }

  .react-aria-Tab {
    font-size: var(--text-sm);
    padding: var(--spacing) var(--spacing-sm);
    cursor: default;
    outline: none;
    position: relative;
    color: var(--text-color-base);
    transition: color 200ms;
    --border-color: transparent;
    forced-color-adjust: none;

    &[data-hovered],
    &[data-focused] {
      color: var(--text-color-hover);
    }

    &[data-selected] {
      --border-color: var(--highlight-background);
      color: var(--text-color);
    }

    &[data-disabled] {
      color: var(--text-color-disabled);
      &[data-selected] {
        --border-color: var(--border-color-disabled);
      }
    }

    &[data-focus-visible]:after {
      content: "";
      position: absolute;
      inset: 4px;
      border-radius: 4px;
      border: 2px solid var(--focus-ring-color);
    }

    &[href] {
      text-decoration: none;
      cursor: pointer;
    }
  }

  .react-aria-TabPanel {
    border-radius: 4px;
    outline: none;

    &[data-focus-visible] {
      outline: 2px solid var(--focus-ring-color);
    }
  }

  .react-aria-Tabs {
    &[data-orientation="vertical"] {
      flex-direction: row;
    }
  }

  .react-aria-TabList {
    &[data-orientation="vertical"] {
      flex-direction: column;
      border-inline-end: 1px solid gray;

      .react-aria-Tab {
        border-inline-end: 3px solid var(--border-color, transparent);
      }
    }
  }
}
