@import "./theme.css";
@import './Button.css';
@import './ToggleButton.css';

@layer components {
.react-aria-ToggleButtonGroup {
  display: flex;

  >button {
    border-radius: 0;
    z-index: 1;

    &[data-disabled] {
      z-index: 0;
    }

    &[data-selected],
    &[data-focus-visible] {
      z-index: 2;
    }
  }

  &[data-indicator="true"] {
    position: relative;
    background: var(--color-gray-100);
    width: fit-content;
    padding: 0px;
    border-radius: var(--radius-md);
    --indicator-left: 0px;
    --indicator-width: 0px;
    --indicator-height: 0px;
    --indicator-top: 0px;
    --indicator-opacity: 0;

    &::before {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 0;
      width: var(--indicator-width);
      height: var(--indicator-height);
      transform: translateX(var(--indicator-left)) translateY(var(--indicator-top));
      border-radius: var(--radius-md);
      background: var(--color-primary-600);
      box-shadow: var(--shadow-sm);
      opacity: var(--indicator-opacity);
      transition: transform 200ms ease-out, width 200ms ease-out,
        height 200ms ease-out, opacity 200ms ease-out;
      pointer-events: none;

      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }
    }
    .react-aria-ToggleButton {
      background-color: transparent;
      border-color: transparent;
  
      &[data-pressed] {
        background: transparent;
        border-color: transparent;
        color: var(--color-gray-800);
      }
  
      &[data-selected] {
        background: transparent;
        border-color: transparent;
        color: var(--color-white);
  
        &[data-pressed] {
          background: transparent;
          border-color: transparent;
          color: var(--color-white);
        }
      }
    }
  }
}



.react-aria-ToggleButtonGroup[data-orientation=horizontal] {
  flex-direction: row;

  >button {
    margin-inline-start: -1px;

    &:first-child {
      border-radius: 4px 0 0 4px;
      margin-inline-start: 0;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
}

.react-aria-ToggleButtonGroup[data-orientation=vertical] {
  flex-direction: column;
  width: fit-content;

  >button {
    margin-block-start: -1px;

    &:first-child {
      border-radius: 4px 4px 0 0;
      margin-block-start: 0;
    }

    &:last-child {
      border-radius: 0 0 4px 4px;
    }
  }
}
}