@import "../theme.css";

@layer components {
  .react-aria-ToggleButton {
    color: var(--text-color);
    background: var(--button-background);
    border: 1px solid var(--border-color);
    forced-color-adjust: none;
    border-radius: var(--border-radius);
    appearance: none;
    vertical-align: middle;
    font-size: var(--text-sm);
    text-align: center;
    margin: 0;
    outline: none;
    padding: var(--spacing) var(--spacing-md);

    &[data-pressed] {
      box-shadow: var(--inset-shadow-sm);
      background: var(--button-background-pressed);
      border-color: var(--border-color-pressed);
    }

    &[data-selected] {
      background: var(--highlight-background);
      border-color: var(--highlight-background);
      color: var(--highlight-foreground);

      &[data-pressed] {
        background: var(--highlight-background-pressed);
        border-color: var(--highlight-background-pressed);
      }
    }

    &[data-focus-visible] {
      outline: 2px solid var(--focus-ring-color);
      outline-offset: 2px;
    }

    &[data-disabled] {
      border-color: var(--border-color-disabled);
      background: var(--button-background);
      color: var(--text-color-disabled);
    }
  }
}