@layer components {

    .aria-Button,
    .aria-ToggleButton {

        padding: var(--spacing) var(--spacing-md);
        font-size: var(--text-sm);
        text-align: center;
        transition: all 0.2s var(--ease-in-out);
        border: 1px solid var(--color-gray-200);
        border-radius: var(--radius-md);
        background-color: var(--color-gray-50);



        &.primary {
            background-color: var(--color-primary-600);
            color: var(--color-white);
        }

        &.surface {
            background-color: var(--color-white);
            color: var(--color-blue-800);
        }

        &[data-pressed] {
            box-shadow: inset 0 1px 2px rgb(0 0 0 / 0.1);
            color: var(--color-white);
            background: var(--color-primary-700);
            border-color: var(--color-primary-700);
        }

        &[data-selected] {
            background: var(--color-primary-600);
            border-color: var(--color-primary-600);
            color: var(--color-white);

            &[data-pressed] {
                background: var(--color-primary-700);
                border-color: var(--color-primary-700);
            }
        }

        &[data-focus-visible] {
            outline: 2px solid var(--focus-ring-color);
            outline-offset: 2px;
        }

        &[data-disabled] {
            background-color: var(--color-gray-200);
            color: var(--color-gray-400);
            cursor: not-allowed;
        }
    }

    .aria-ToggleButtonGroup {
        display: flex;

        >button {
            border-radius: 0;
            z-index: 1;

            &[data-disabled] {
                z-index: 0;
            }

            &[data-selected],
            &[data-focus-visible] {
                z-index: 2;
            }
        }

        &[data-orientation=horizontal] {
            flex-direction: row;

            >button {
                margin-inline-start: -1px;

                &:first-child {
                    border-radius: var(--radius-md) 0 0 var(--radius-md);
                    margin-inline-start: 0;
                }

                &:last-child {
                    border-radius: 0 var(--radius-md) var(--radius-md) 0;
                }
            }
        }

        &[data-orientation=vertical] {
            flex-direction: column;


        }
    }

    .aria-Label {
        display: inline-block;
        font-size: var(--text-sm);
        padding: var(--spacing) var(--spacing-md);
        font-weight: 500;
        color: var(--color-gray-500);
    }

    .aria-Text {
        display: inline-block;
        font-size: var(--text-sm);
        padding: var(--spacing) var(--spacing-md);
        color: var(--color-gray-600);
    }

    .aria-Field {
        padding: var(--spacing) var(--spacing-md);
        border: 1px solid var(--color-gray-500);
        border-radius: var(--radius-md);
        font-size: var(--text-sm);
        color: var(--color-gray-800);

        &[data-focused] {
            border-color: var(--color-primary-500);
        }

        &[data-invalid] {
            border-color: var(--color-red-500);
        }

        &[data-disabled] {
            background-color: var(--color-gray-200);
            color: var(--color-gray-400);
        }
    }

    .aria-Input,
    .aria-TextArea {
        padding: var(--spacing) var(--spacing-md);
        border: 1px solid var(--color-gray-500);
        border-radius: var(--radius-md);
        font-size: var(--text-sm);
        color: var(--color-gray-800);

        &[data-focused] {
            outline: 2px solid var(--focus-ring-color);
            outline-offset: -1px;
        }

        &::before {
            content: '';
        }

    }

    .aria-TextField {
        display: flex;
        flex-direction: column;
        color: var(--color-gray-600);

    }

    .aria-FieldError {
        font-size: var(--text-sm);
        color: var(--color-red-500);
    }

    .aria-Select {
        color: var(--text-color);

        .aria-Button {

            border-radius: 6px;
            font-size: 1.072rem;
            padding: 0.286rem 0.286rem 0.286rem 0.571rem;
            display: flex;
            align-items: center;
            max-width: 250px;

            &[data-focus-visible] {
                outline: 2px solid var(--focus-ring-color);
                outline-offset: -1px;
            }
        }

        .aria-SelectValue {
            font-size: var(--text-xs);

            &[data-placeholder] {
                font-size: var(--text-xs);
                color: var(--text-color-placeholder);
            }
        }

        span[aria-hidden] {
            width: 1.5rem;
            line-height: 1.375rem;
            margin-left: 1rem;
            padding: 1px;
            background: var(--highlight-background);
            color: var(--highlight-foreground);
            forced-color-adjust: none;
            border-radius: 4px;
            font-size: 0.857rem;
        }
    }

    .aria-Popover[data-trigger=Select] {
        min-width: var(--trigger-width);

        .aria-ListBox {
            display: block;
            width: unset;
            max-height: inherit;
            min-height: unset;
            border: none;

            .aria-Header {
                padding-left: 1.571rem;
            }
        }

        .aria-ListBoxItem {
            padding: 0 0.571rem 0 1.571rem;

            &[data-focus-visible] {
                outline: none;
            }

            &[data-selected] {
                font-weight: 600;
                background: unset;
                color: var(--text-color);

                &::before {
                    content: '✓';
                    content: '✓' / '';
                    alt: ' ';
                    position: absolute;
                    top: 4px;
                    left: 4px;
                }
            }

            &[data-focused],
            &[data-pressed] {
                background: var(--highlight-background);
                color: var(--highlight-foreground);
            }
        }
    }

}