@layer components {
    @keyframes toggle {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .react-aria-Button {
        color: var(--color-gray-800);
        background: var(--color-gray-50);
        border: 1px solid var(--color-gray-200);
        border-radius: var(--radius-md);
        appearance: none;
        vertical-align: middle;
        font-size: var(--text-sm);
        text-align: center;
        margin: 0;
        outline: none;
        padding: var(--spacing) var(--spacing-md);
        text-decoration: none;

        &[data-pressed] {
            box-shadow: inset 0 1px 2px rgb(0 0 0 / 0.1);
            background: var(--color-primary-600);
            border-color: var(--color-primary-600);
            color: var(--color-white);
        }

        &[data-focus-visible] {
            outline: 2px solid var(--focus-ring-color);
            outline-offset: -1px;
        }

        &[data-disabled] {
            border-color: var(--color-gray-200);
            color: var(--color-gray-400);
        }
    }

    .react-aria-ToggleButton {
        color: var(--color-gray-800);
        background: var(--color-gray-50);
        border: 1px solid var(--color-gray-200);
        forced-color-adjust: none;
        border-radius: var(--radius-md);
        appearance: none;
        vertical-align: middle;
        font-size: var(--text-sm);
        text-align: center;
        margin: 0;
        outline: none;
        padding: var(--spacing) var(--spacing-md);

        &[data-pressed] {
            box-shadow: inset 0 1px 2px rgb(0 0 0 / 0.1);
            background: var(--color-primary-600);
            border-color: var(--color-primary-600);
            color: var(--color-white);
        }

        &[data-selected] {
            background: var(--color-primary-600);
            border-color: var(--color-primary-600);
            color: var(--color-white);

            &[data-pressed] {
                background: var(--color-primary-700);
                border-color: var(--color-primary-700);
            }
        }

        &[data-focus-visible] {
            outline: 2px solid var(--focus-ring-color);
            outline-offset: 2px;
        }

        &[data-disabled] {
            border-color: var(--color-gray-200);
            background: var(--color-gray-50);
            color: var(--color-gray-400);
        }
    }

    .react-aria-ToggleButtonGroup {
        display: flex;

        >button {
            border-radius: 0;
            z-index: 1;

            &[data-disabled] {
                z-index: 0;
            }

            &[data-selected],
            &[data-focus-visible] {
                z-index: 2;
            }
        }
    }

    .react-aria-ToggleButtonGroup[data-orientation=horizontal] {
        flex-direction: row;

        >button {
            margin-inline-start: -1px;

            &:first-child {
                border-radius: var(--radius-md) 0 0 var(--radius-md);
                margin-inline-start: 0;
            }

            &:last-child {
                border-radius: 0 var(--radius-md) var(--radius-md) 0;
            }
        }
    }

    .react-aria-ToggleButtonGroup[data-orientation=vertical] {
        flex-direction: column;
        width: fit-content;

        >button {
            margin-block-start: -1px;

            &:first-child {
                border-radius: var(--radius-md) var(--radius-md) 0 0;
                margin-block-start: 0;
            }

            &:last-child {
                border-radius: 0 0 var(--radius-md) var(--radius-md);
            }
        }
    }

    .react-aria-Checkbox {
        --selected-color: var(--color-gray-600);
        --selected-color-pressed: var(--color-gray-800);
        --checkmark-color: var(--color-white);

        display: flex;
        /* This is needed so the HiddenInput is positioned correctly */
        position: relative;
        align-items: center;
        gap: 0.571rem;
        font-size: var(--text-sm);
        color: var(--color-gray-800);
        forced-color-adjust: none;

        .checkbox {
            width: 1.143rem;
            height: 1.143rem;
            border: 2px solid var(--border-color);
            border-radius: 4px;
            transition: all 200ms;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
        }

        svg {
            width: 1rem;
            height: 1rem;
            fill: none;
            stroke: var(--color-white);
            stroke-width: 3px;
            stroke-dasharray: 22px;
            stroke-dashoffset: 66;
            transition: all 200ms;
        }

        &[data-pressed] .checkbox {
            border-color: var(--color-primary-600);
        }

        &[data-focus-visible] .checkbox {
            outline: 2px solid var(--focus-ring-color);
            outline-offset: 2px;
        }

        &[data-selected],
        &[data-indeterminate] {
            .checkbox {
                border-color: var(--color-primary-600);
                background: var(--color-primary-600);
            }

            &[data-pressed] .checkbox {
                border-color: var(--color-primary-700);
                background: var(--color-primary-700);
            }

            svg {
                stroke-dashoffset: 44;
            }
        }

        &[data-indeterminate] {
            & svg {
                stroke: none;
                fill: var(--checkmark-color);
            }
        }

        &[data-invalid] {
            .checkbox {
                --checkmark-color: var(--color-gray-50);
                border-color: var(--color-red-500);
            }

            &[data-pressed] .checkbox {
                border-color: var(--color-red-600);
            }

            &[data-selected],
            &[data-indeterminate] {
                .checkbox {
                    background: var(--color-red-500);
                }

                &[data-pressed] .checkbox {
                    background: var(--color-red-600);
                }
            }
        }

        &[data-disabled] {
            color: var(--color-gray-400);

            .checkbox {
                border-color: var(--color-gray-200);
            }
        }
    }

    .react-aria-CheckboxGroup {
        display: flex;
        flex-direction: column;
        gap: 0.571rem;
        color: var(--text-color);

        .react-aria-FieldError {
            font-size: var(--text-sm);
            color: var(--invalid-color);
        }

        [slot=description] {
            font-size: var(--text-sm);
        }
    }

    .react-aria-CheckboxGroup[data-orientation="horizontal"] {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: flex-start;
    }

    .react-aria-CheckboxGroup[data-orientation="vertical"] {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: flex-start;
    }

    .react-aria-ListBox {
        display: flex;
        flex-direction: column;
        gap: var(--spacing);
        max-height: inherit;
        overflow: auto;
        padding: var(--spacing);
        border: 1px solid var(--color-gray-200);
        border-radius: var(--radius-md);
        background: var(--color-white);
        forced-color-adjust: none;
        outline: none;
        width: 100%;
        max-height: 300px;
        min-height: 100px;
        box-sizing: border-box;

        &[data-focus-visible] {
            outline: 2px solid var(--focus-ring-color);
            outline-offset: -1px;
        }
    }

    .react-aria-ListBoxItem {
        padding: 0 0.571rem;
        border-radius: var(--radius-md);
        outline: none;
        cursor: default;
        color: var(--text-color);
        font-size: var(--text-sm);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: var(--spacing-xl);

        &[data-focus-visible] {
            outline: 2px solid var(--focus-ring-color);
            outline-offset: -2px;
        }

        &[data-selected] {
            background: var(--color-gray-600);
            color: var(--color-white);

            &[data-focus-visible] {
                outline-color: var(--color-white);
                outline-offset: -4px;
            }
        }
    }

    .react-aria-ListBoxItem[href] {
        text-decoration: none;
        cursor: pointer;
        -webkit-touch-callout: none;
    }

    .react-aria-ListBox {
        .react-aria-ListBoxSection:not(:first-child) {
            margin-top: var(--spacing);
        }

        .react-aria-Header {
            font-size: var(--text-sm);
            font-weight: bold;
            padding: 0 var(--spacing);
        }
    }

    .react-aria-ListBoxItem {
        [slot=label] {
            font-weight: bold;
        }

        [slot=description] {
            font-size: var(--text-sm);
        }
    }

    .react-aria-ListBox[data-orientation=horizontal],
    .react-aria-ListBox[data-layout=grid] {
        flex-direction: row;
        width: fit-content;
        max-width: 100%;
        padding: var(--spacing);

        .react-aria-ListBoxItem {
            position: relative;
            margin: 0;
            padding: var(--spacing);

            & img {
                object-fit: cover;
                aspect-ratio: 1/1;
                max-width: 150px;
                margin-bottom: var(--spacing);
                border-radius: var(--radius-md);
            }

            &[data-selected] {
                background: none;
                color: inherit;

                &:after {
                    content: '✓';
                    content: '✓' / '';
                    alt: ' ';
                    position: absolute;
                    top: var(--spacing);
                    right: var(--spacing);
                    background: var(--color-gray-600);
                    border: 2px solid var(--color-white);
                    color: var(--color-white);
                    width: var(--spacing-md);
                    height: var(--spacing-md);
                    border-radius: var(--radius-md);
                    box-sizing: border-box;
                    font-size: var(--text-sm);
                    line-height: 1em;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-shadow: 0 0 var(--spacing) rgb(0 0 0 / .5);
                }
            }

            &[data-focus-visible] {
                outline: 2px solid var(--focus-ring-color);
                outline-offset: -2px;
            }
        }
    }

    .react-aria-ListBox[data-layout=grid] {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        scrollbar-gutter: stable;
    }

    .react-aria-ListBox[data-layout=grid][data-orientation=horizontal] {
        width: 100%;
        max-width: none;
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: 58px 58px;
        grid-template-columns: none;
        grid-auto-columns: 250px;
        max-height: 300px;
        gap: var(--spacing);

        .react-aria-ListBoxItem {
            display: grid;
            grid-template-areas: "image ."
                "image title"
                "image description"
                "image .";
            grid-template-columns: auto 1fr;
            grid-template-rows: 1fr auto auto 1fr;
            column-gap: var(--spacing);

            & img {
                width: var(--spacing-md);
                height: var(--spacing-md);
                grid-area: image;
                margin-bottom: 0;
            }

            [slot=label] {
                grid-area: title;
            }

            [slot=description] {
                grid-area: description;
            }
        }
    }

    .react-aria-ListBoxItem {
        &[data-disabled] {
            color: var(--text-color-disabled);
        }
    }

    .react-aria-ListBox {
        &[data-empty] {
            align-items: center;
            justify-content: center;
            font-style: italic;
        }
    }

    .react-aria-ListBoxItem {
        &[data-dragging] {
            opacity: 0.6;
        }
    }

    .react-aria-DropIndicator[data-drop-target] {
        outline: 1px solid var(--color-gray-600);
    }

    .react-aria-ListBox[data-drop-target] {
        outline: 2px solid var(--color-gray-600);
        outline-offset: -1px;
        background: var(--highlight-overlay)
    }

    .react-aria-ListBoxItem[data-drop-target] {
        outline: 2px solid var(--color-gray-600);
        background: var(--highlight-overlay)
    }

    .react-aria-DropIndicator[data-drop-target] {
        outline: 1px solid var(--color-gray-600);
    }

    .react-aria-Select {
        color: var(--text-color);

        .react-aria-Button {
            box-shadow: 0 1px 2px rgba(0 0 0 / 0.1);
            border-radius: var(--radius-md);
            font-size: var(--text-sm);
            padding: 0.286rem 0.286rem 0.286rem 0.571rem;
            display: flex;
            align-items: center;
            max-width: 100%;

            &[data-focus-visible] {
                outline: 2px solid var(--focus-ring-color);
                outline-offset: -1px;
            }
        }

        .react-aria-SelectValue {


            &[data-placeholder] {
                font-style: italic;
                color: var(--text-color-placeholder);
            }
        }

        span[aria-hidden] {
            width: 1.5rem;
            line-height: 1.375rem;

            padding: 1px;
            background: transparent;
            color: var(--color-gray-600);
            forced-color-adjust: none;
            border-radius: var(--radius-md);
            font-size: var(--text-xs);
        }
    }

    .react-aria-Popover[data-trigger=Select] {
        min-width: var(--trigger-width);

        .react-aria-ListBox {
            display: block;
            width: unset;
            max-height: inherit;
            min-height: unset;
            border: none;

            .react-aria-Header {
                padding-left: var(--spacing);
            }
        }

        .react-aria-ListBoxItem {
            padding: 0 var(--spacing) 0 var(--spacing-xl);

            &[data-focus-visible] {
                outline: none;
            }

            &[data-selected] {
                font-weight: 600;
                background: unset;
                color: var(--text-color);

                &::before {
                    content: '✓';
                    content: '✓' / '';
                    alt: ' ';
                    position: absolute;
                    top: var(--spacing-xs);
                    left: var(--spacing);
                }
            }

            &[data-focused],
            &[data-pressed] {
                background: var(--color-gray-600);
                color: var(--color-white);
            }
        }
    }

    .react-aria-ListBoxItem[href] {
        text-decoration: none;
        cursor: pointer;
    }

    .react-aria-Select {
        .react-aria-SelectValue {
            [slot=description] {
                display: none;
            }
        }

        .react-aria-Button {
            &[data-disabled] {
                border-color: var(--border-color-disabled);
                color: var(--text-color-disabled);

                span[aria-hidden] {
                    background: var(--border-color-disabled);
                    color: var(--text-color-disabled);
                }

                .react-aria-SelectValue {
                    &[data-placeholder] {
                        color: var(--text-color-disabled);
                    }
                }
            }
        }
    }

    @media (forced-colors: active) {
        .react-aria-Select {
            .react-aria-Button {
                &[data-disabled] span[aria-hidden] {
                    background: 0 0;
                }
            }
        }
    }

    .react-aria-Select {
        .react-aria-FieldError {
            font-size: var(--text-sm);
            color: var(--invalid-color);
        }

        [slot=description] {
            font-size: var(--text-sm);
        }
    }

    .react-aria-Popover {
        --background-color: var(--overlay-background);

        border: 1px solid var(--border-color);
        box-shadow: 0 8px 20px rgba(0 0 0 / 0.1);
        border-radius: var(--radius-md);
        background: var(--background-color);
        color: var(--text-color);
        outline: none;
        max-width: 100%;
        transition: transform 200ms, opacity 200ms;

        .react-aria-OverlayArrow svg {
            display: block;
            fill: var(--background-color);
            stroke: var(--border-color);
            stroke-width: 1px;
        }

        &[data-entering],
        &[data-exiting] {
            transform: var(--origin);
            opacity: 0;
        }

        &[data-placement=top] {
            --origin: translateY(8px);

            &:has(.react-aria-OverlayArrow) {
                margin-bottom: var(--spacing);
            }
        }

        &[data-placement=bottom] {
            --origin: translateY(-8px);

            &:has(.react-aria-OverlayArrow) {
                margin-top: var(--spacing);
            }

            .react-aria-OverlayArrow svg {
                transform: rotate(180deg);
            }
        }

        &[data-placement=right] {
            --origin: translateX(-8px);

            &:has(.react-aria-OverlayArrow) {
                margin-left: var(--spacing);
            }

            .react-aria-OverlayArrow svg {
                transform: rotate(90deg);
            }
        }

        &[data-placement=left] {
            --origin: translateX(8px);

            &:has(.react-aria-OverlayArrow) {
                margin-right: var(--spacing);
            }

            .react-aria-OverlayArrow svg {
                transform: rotate(-90deg);
            }
        }
    }



    .aria-Label {
        display: inline-block;
        font-size: var(--text-sm);
        padding: var(--spacing) var(--spacing-md);
        font-weight: 500;
        color: var(--color-gray-500);
    }

    .aria-Text {
        display: inline-block;
        font-size: var(--text-sm);
        padding: var(--spacing) var(--spacing-md);
        color: var(--color-gray-600);
    }

    .aria-Field {
        padding: var(--spacing) var(--spacing-md);
        border: 1px solid var(--color-gray-500);
        border-radius: var(--radius-md);
        font-size: var(--text-sm);
        color: var(--color-gray-800);

        &[data-focused] {
            border-color: var(--color-primary-500);
        }

        &[data-invalid] {
            border-color: var(--color-red-500);
        }

        &[data-disabled] {
            background-color: var(--color-gray-200);
            color: var(--color-gray-400);
        }
    }

    .aria-Input,
    .aria-TextArea {
        padding: var(--spacing) var(--spacing-md);
        border: 1px solid var(--color-gray-500);
        border-radius: var(--radius-md);
        font-size: var(--text-sm);
        color: var(--color-gray-800);

        &[data-focused] {
            outline: 2px solid var(--focus-ring-color);
            outline-offset: -1px;
        }

        &::before {
            content: '';
        }

    }

    .aria-TextField {
        display: flex;
        flex-direction: column;
        color: var(--color-gray-600);

    }

    .aria-FieldError {
        font-size: var(--text-sm);
        color: var(--color-red-500);
    }





}