@layer components {

    .aria-Button,
    .aria-ToggleButton {

        padding: var(--spacing) var(--spacing-md);
        font-size: var(--text-sm);
        text-align: center;
        transition: all 0.2s var(--ease-in-out);
        border: 1px solid var(--color-gray-200);
        border-radius: var(--radius-md);
        background-color: var(--color-gray-50);



        &.primary {
            background-color: var(--color-primary-500);
            color: var(--color-white);
        }

        &.surface {
            background-color: var(--color-white);
            color: var(--color-blue-800);
        }

        &[data-pressed] {
            box-shadow: inset 0 1px 2px rgb(0 0 0 / 0.1);
            color: var(--color-white);
            background: var(--color-primary-700);
            border-color: var(--color-primary-700);
        }

        &[data-selected] {
            background: var(--color-primary-600);
            border-color: var(--color-primary-600);
            color: var(--color-white);

            &[data-pressed] {
                background: var(--color-primary-700);
                border-color: var(--color-primary-700);
            }
        }

        &[data-focus-visible] {
            outline: 2px solid var(--focus-ring-color);
            outline-offset: 2px;
        }

        &[data-disabled] {
            background-color: var(--color-gray-200);
            color: var(--color-gray-400);
            cursor: not-allowed;
        }
    }

    .aria-ToggleButtonGroup {
        display: flex;

        >button {
            border-radius: 0;
            z-index: 1;

            &[data-disabled] {
                z-index: 0;
            }

            &[data-selected],
            &[data-focus-visible] {
                z-index: 2;
            }
        }

        &[data-orientation=horizontal] {
            flex-direction: row;

            >button {
                margin-inline-start: -1px;

                &:first-child {
                    border-radius: var(--radius-md) 0 0 var(--radius-md);
                    margin-inline-start: 0;
                }

                &:last-child {
                    border-radius: 0 var(--radius-md) var(--radius-md) 0;
                }
            }
        }

        &[data-orientation=vertical] {
            flex-direction: column;


        }
    }

    .aria-Label {
        display: inline-block;
        font-size: var(--text-sm);
        padding: var(--spacing) var(--spacing-md);
        font-weight: 500;
        color: var(--color-gray-500);
    }

    .aria-Text {
        display: inline-block;
        font-size: var(--text-sm);
        padding: var(--spacing) var(--spacing-md);
        color: var(--color-gray-600);
    }

    .aria-Field {
        padding: var(--spacing) var(--spacing-md);
        border: 1px solid var(--color-gray-500);
        border-radius: var(--radius-md);
        font-size: var(--text-sm);
        color: var(--color-gray-800);

        &[data-focused] {
            border-color: var(--color-primary-500);
        }

        &[data-invalid] {
            border-color: var(--color-red-500);
        }

        &[data-disabled] {
            background-color: var(--color-gray-200);
            color: var(--color-gray-400);
        }
    }

    .aria-Input,
    .aria-TextArea {
        padding: var(--spacing) var(--spacing-md);
        border: 1px solid var(--color-gray-500);
        border-radius: var(--radius-md);
        font-size: var(--text-sm);
        color: var(--color-gray-800);
        pointer-events: none;

        &[data-focused] {
            outline: 2px solid var(--focus-ring-color);
            outline-offset: -1px;
        }


    }

    .aria-TextField {
        display: flex;
        flex-direction: column;
        color: var(--color-gray-600);

    }

    .aria-FieldError {
        font-size: var(--text-sm);
        color: var(--color-red-500);
    }

}