@import "tailwindcss";

:root {

  --sizes-sidebarWidth: 240px;
  --sizes-sideNavWidth: 48px;
  --sizes-navigatorWidth: 0px;
  --sizes-inspectorWidth: 240px;

}

@layer utilities {

  .iconButton {
    @apply py-3 px-3 shadow-none flex items-center justify-center;
    width: 48px;
    height: 48px;
    background-color: transparent;
    color: var(--color-gray-300);
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover,
    &:focus,
    &:focus-visible {
      border: none;
      background-color: transparent;
      color: var(--color-sky-600);
    }

  }



  .pattern-bg {
    background-image: radial-gradient(var(--pattern-fg) 1px, transparent 0);
    background-size: 10px 10px;
    background-attachment: fixed;
    --pattern-fg: rgba(10, 10, 10, 0.05);
  }

  .dark .pattern-bg {
    --pattern-fg: rgba(255, 255, 255, 0.1);
  }

}