@import "tailwindcss";


:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --sizes-sidebarWidth: 240px;
  --sizes-sideNavWidth: 48px;
  --sizes-navigatorWidth: 0px;
  --sizes-inspectorWidth: 240px;

  --primary: var(--color-sky-500);
  --secondary: var(--color-sky-600);
  --tertiary: var(--color-sky-700);
}

@layer utilities {
  textarea{
    @apply py-1 px-2 rounded-sm;
    outline: none;
    border: 1px solid var(--color-gray-200);
    background-color: #fff;
    transition: border-color 0.2s ease;
    &:hover, &:focus, &:focus-visible {
      border: 1px solid var(--primary);
    }
  }
  input{
    @apply py-1 px-2 rounded-sm;
    outline: none;
    border: 1px solid var(--color-gray-200);
    background-color: #fff;
    transition: border-color 0.2s ease;
    &:hover, &:focus, &:focus-visible {
      border: 1px solid var(--primary);
    }
  }

  select{
    @apply py-1 px-2 rounded-sm;
    outline: none;
    border: 1px solid var(--color-gray-200);
    background-color: #fff;
    transition: border-color 0.2s ease;
    &:hover, &:focus, &:focus-visible {
      border: 1px solid var(--primary);
    }
  }

  button {
    @apply py-1 px-2 rounded-sm;
    background-color: var(--color-sky-500);
    color: white;
    border: 1px solid var(--color-sky-600);
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover, &:focus, &:focus-visible {
      background-color: var(--color-sky-600);
    }
  }

  .div {
    @apply border border-gray-200;
  }

  .iconButton {
    @apply py-3 px-3 shadow-none flex items-center justify-center;
    width: 48px;
    height: 48px;
    background-color: transparent;
    color: var(--color-gray-300);
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover, &:focus, &:focus-visible {
      border: none;
      background-color: transparent;
      color: var(--color-sky-600);
    }
  }
}

h3 {
  margin: 0;
  padding: 8px;
  font-size: 12px;
  height: 48px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}
