@import "tailwindcss";

:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 400;

  --spacing: 1px;
  --radius-lg: 0.5rem;
  --default-font-family: var(--font-sans);
  --default-mono-font-family: var(--font-mono);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --sizes-sidebarWidth: 240px;
  --sizes-sideNavWidth: 48px;
  --sizes-navigatorWidth: 0px;
  --sizes-inspectorWidth: 240px;

}

@layer utilities {

  input,
  textarea,
  select {
    @apply py-1 px-2 rounded-sm;
    outline: none;
    border: 1px solid var(--color-gray-200);
    background-color: #fff;
    transition: border-color 0.2s ease;

    &:hover,
    &:focus,
    &:focus-visible {
      border: 1px solid var(--color-sky-500);
    }
  }

  button {
    @apply py-1 px-2 rounded-sm;
    background-color: var(--primary-color);
    color: white;
    border: 2px solid var(--secondary-color);
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover,
    &:focus,
    &:focus-visible {
      background-color: var(--color-sky-600);
    }
  }

  p {
    font-size: var(--text-base);
  }

  img {
    border-radius: var(--radius-lg);
  }

  h3 {
    margin: 0;
    padding: 0 8px;
    font-size: 12px;
    height: 48px;
    display: flex;
    align-items: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }

  .div {
    @apply border border-gray-200 bg-amber-300;
  }

  .iconButton {
    @apply py-3 px-3 shadow-none flex items-center justify-center;
    width: 48px;
    height: 48px;
    background-color: transparent;
    color: var(--color-gray-300);
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover,
    &:focus,
    &:focus-visible {
      border: none;
      background-color: transparent;
      color: var(--color-sky-600);
    }

  }



  .pattern-bg {
    background-image: radial-gradient(var(--pattern-fg) 1px, transparent 0);
    background-size: 10px 10px;
    background-attachment: fixed;
    --pattern-fg: rgba(10, 10, 10, 0.05);
  }

  .dark .pattern-bg {
    --pattern-fg: rgba(255, 255, 255, 0.1);
  }

}