@import "tailwindcss";

@layer base {
  :root {
    --sizes-sidebarWidth: 280px;
    --sizes-sideNavWidth: 64px;
    --sizes-navigatorWidth: 0px;
    --sizes-inspectorWidth: 240px;
  }
}

@layer utilities {
  .iconButton {
    @apply p-2 w-8 h-8 rounded-lg bg-gray-100 hover:bg-gray-200 dark:bg-gray-800 dark:hover:bg-gray-700;
  }

  .pattern-bg {
    background: radial-gradient(circle at center, var(--foreground) 2px, transparent 2px) 0 0 / 16px 16px;
  }

  .dark .pattern-bg {
    --pattern-fg: rgba(255, 255, 255, 0.1);
  }

  .update-custom-color {
    @apply transition-colors duration-200;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;