@import "tailwindcss";

:root {
    --sidebar-nav-width: 48px;
    --sidebar-width: 240px;
    --element-padding: 8px;
    --border-color: #eee;
    --hover-bg: #f5f5f5;
    --active-bg: var(--color-sky-50);
    --active-color: var(--color-sky-600);
    --icon-button-size: 24px;
    --component-button-size: 32px;
}

.sidebar {
    grid-area: sidebar;
    height: 100%;
    display: flex;
    background-color: #fff;
    position: relative;
    overflow: auto;
}

/* Navigation */
.sidebar_nav {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    width: var(--sidebar-nav-width);
    height: 100%;
    justify-content: space-between;
    background-color: #fff;
    border-right: 1px solid var(--border-color);
}

.sidebar_nav_before {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    width: 32px;
    height: 32px;
    background-color: var(--color-gray-600);
    z-index: 0;
    border-radius: 6px;
    transition: transform 0.2s ease;
}

.sidebar_group {
    display: flex;
    flex-direction: column;
    gap: 16px;
    z-index: 1;
}

.sidebar_group button {
    position: relative;
    width: 32px;
    height: 32px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.2s ease;
}

.sidebar_group button.active {
    svg {
        stroke: var(--color-gray-200);
        ;
        transition: color 0.2s ease;
    }
}

/* Move the before element based on active button index */

.sidebar-content {
    flex: 1;
    position: relative;
    top: 0;
    left: 0;
    border-right: 1px solid #f5f5f5;
    width: var(--sidebar-width);
}