@layer utilities {

    .component-props fieldset {


        button {
            padding: 2px;
            width: 27px;
            height: 27px;
            display: flex;
            align-items: center;
            justify-content: center;
            /* background-color: var(--color-gray-50); */
        }
    }


    .component-props {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .react-aria-control {
        grid-area: input1;
        display: flex;
        justify-content: space-between;

        .react-aria-Select {
            flex: 1;

            .react-aria-SelectValue {
                width: 100%;
            }

            .react-aria-Button {
                padding: var(--spacing) var(--spacing) var(--spacing) var(--spacing-sm);
                width: 100%;
                box-shadow: none;
            }
        }
    }
}