/* Auth Container */
.auth-container {
    min-height: 100vh;
    background: linear-gradient(48deg, var(--highlight-background) 0%, var(--highlight-overlay) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Auth Card */
.auth-card {
    width: 100%;
    max-width: var(--container-xs);
    background: var(--color-white);
    border-radius: var(--radius-4xl);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding: var(--spacing-xl);
}

/* Auth Header */

.helper-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-header {
    text-align: center;
}

.auth-title {
    font-size: var(--text-2xl);
}

.auth-subtitle {
    font-size: var(--text-sm);
}

/* Auth Form */
.auth-form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);

    .react-aria-TextField {
        width: 100%;
    }
    .primary {
        background: var(--builder-button-bg);
        color: var(--builder-button-text);
        border-color: var(--builder-button-border);
        &:hover {
            background: var(--builder-button-hover-bg);
            color: var(--builder-button-text);
            border-color: var(--builder-button-border);
        }
        &:active {
            background: var(--builder-button-active-bg);
            color: var(--builder-button-text);
            border-color: var(--builder-button-border);
        }
    }
}

/* Responsive Design */
@media (max-width: 640px) {
    .auth-card {
        padding: 1.5rem;
        margin: 1rem;
    }

    .auth-title {
        font-size: 1.5rem;
    }

    .social-buttons {
        flex-direction: column;
    }
}
