/**
 * DataTableEditorPanel Styles
 *
 * 표준 패널 구조:
 * .datatable-editor-panel
 *   .panel-header (PanelHeader 컴포넌트)
 *   .panel-contents
 *     [에디터 컨텐츠]
 */

.datatable-editor-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--color-surface);
  overflow: hidden;
  /*max-width: var(--panel-width);
  min-width: var(--panel-width);*/
}

/* 패널 컨텐츠 - 스크롤 가능 영역 */
.datatable-editor-panel .panel-contents {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 0;
}

/* 에디터가 panel-contents 전체 높이 차지 */
.datatable-editor-panel .panel-contents > * {
  min-height: 0;
  display: flex;
  flex-direction: column;
}
